<div class="panel panel-default" style="width: 100%; border-width: thin; border-style: solid;">
    <div class="panel-body" style="width:100%;">
        <div class="form-horizontal" style="margin-top:25px">
            <div class="row form-group">
                <div class="col-sm-2 col-md-2 offset-10" style="margin-right:50px;">
                    <button id="btnSearchCourseReport" class="btn btn-outline-success waves-effect waves-light" style="width:100%">
                        <img style="width:25px;height:25px" src="~/assets/images/svg/icon-excel-green.svg" />&nbsp;&nbsp; Export
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>