<div class="panel panel-default" style="width: 100%; border-width: thin; border-style: solid;">
    <div class="panel-body" style="width:100%;">
        <div class="form-horizontal" style="margin-top:25px">
        </div>
    </div>
</div>