<div class="panel panel-default" style="width: 100%; border-width: thin; border-style: solid;">
    <div class="panel-body" style="width:100%;">
        <div class="form-horizontal" style="margin-top:25px">
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Course</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectCourseLegal" name="selectCourseLegal" class="form-control input-sm" style="width: 100%">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" style="width:100%;">
        <div class="form-horizontal" style="margin-top:25px">
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Target Group</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" style="width:100%;">
        <div class="form-horizontal" style="margin-top:25px">
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Plant</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectPlantLegal" name="selectPlantLegal" class="form-control input-sm" style="width: 100%">
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Center</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectCenterLegal" name="selectCenterLegal" class="form-control input-sm" style="width: 100%">
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Division</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectDivisionLegal" name="selectDivisionLegal" class="form-control input-sm" style="width: 100%">
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Department</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectDepartmentLegal" name="selectDepartmentLegal" class="form-control input-sm" style="width: 100%">
                    </select>
                </div>
            </div> 
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Job Grade</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectJobGradeLegal" name="selectJobGradeLegal" class="form-control input-sm" style="width: 100%">
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Job Title</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectJobTitleLegal" name="selectJobTitleLegal" class="form-control input-sm" style="width: 100%">
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2 offset-10" style="margin-right:15px;">
                    <button id="btnSearchLegalReport" class="btn btn-outline-success waves-effect waves-light" style="width:100%">
                        <img style="width:25px;height:25px" src="~/assets/images/svg/icon-excel-green.svg" />&nbsp;&nbsp; Export
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>