<div class="panel panel-default" style="width: 100%; border-width: thin; border-style: solid;">
    <div class="panel-body" style="width:100%;">
        <div class="form-horizontal" style="margin-top:25px">
            <form id="reportFrm">
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2 offset-2">
                        <input type='radio' value='0' name='selectMasterType' checked onchange="OnSelectRadio(this)" id="Instructor" /><label for="Instructor">Instructor</label>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <input type='radio' value='1' name='selectMasterType' onchange="OnSelectRadio(this)" id="Platform" /><label for="Platform">Platform</label>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <input type='radio' value='2' name='selectMasterType' onchange="OnSelectRadio(this)" id="Course" /><label for="Course">Course</label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Instructor ID</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="text" style="width: 100%" id="txtInstructorId" class="form-control input-sm" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Platform</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectPlatform" name="selectPlatform" disabled title="Please Enter Section" class="form-control input-sm" style="width: 100%">
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Course</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectCourse" name="selectCourse" disabled title="Please Enter Course" class="form-control input-sm" style="width: 100%">
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Department</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectMasterReportDepartment" name="selectMasterReportDepartment" title="Please Enter Department" class="form-control input-sm" style="width: 100%">
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Job Grade</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectMasterReportJobGrade" name="selectMasterReportJobGrade" class="form-control input-sm" style="width: 100%">
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Status</label>
                        </span>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <select id="selectMasterReportStatus" name="selectMasterReportStatus" class="form-control input-sm" style="width: 100%">
                            <option>---All---</option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Training Date<font color="#f60b0b">*</font></label>
                        </span>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <input id="dteTrainingDateFrm" title="Please Enter Training Date " type="datetime" class="form-control input-sm required" style="width: 100%" />
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <input id="dteTrainingDateTo" title="Please Enter Training Date " type="datetime" class="form-control input-sm required"  style="width: 100%" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Training Status</label>
                        </span>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <select id="selectMasterReportTrainingStatus" name="selectMasterTrainingReportStatus" class="form-control input-sm" style="width: 100%">
                            <option>---All---</option>
                            <option value="1">Qualified</option>
                            <option value="0">UnQualified</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-body" style="width:100%;">
        <div class="form-horizontal" style="margin-top:25px"> 
            <div class="row form-group">
                <div class="col-sm-2 col-md-2 offset-10">
                    <button id="btnExportMasterReport" class="btn btn-outline-success waves-effect waves-light" style="width:98%;display:block">
                        <img style="width:25px;height:25px" src="~/assets/images/svg/icon-excel-green.svg" /> Export
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>