<div class="panel panel-default" style="width: 100%; border-width: thin; border-style: solid;">
    <div class="panel-body" style="width:100%;">
        <div class="form-horizontal" style="margin-top:25px">
            <div class="row form-group">
                <div class="col-sm-2 col-md-2 offset-2">
                    <input type='radio' name='reportType' checked="checked" onchange="OnChangeMasterType(this);" value='Instructor' id="Instructor" /><label for="Instructor">Instructor</label>
                </div>
                <div class="col-sm-2 col-md-2">
                    <input type='radio' name='reportType' onchange="OnChangeMasterType(this);" value='Platform' id="Platform" /><label for="Platform">Platform</label>
                </div>
                <div class="col-sm-2 col-md-2">
                    <input type='radio' name='reportType' onchange="OnChangeMasterType(this);" value='Course' id="Course" /><label for="Course">Course</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Instructor ID</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <input type="text" id="txtInstructorId" style="width: 100%" class="form-control input-sm" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Platform</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectPlatform" 
                            name="selectPlatform" 
                            disabled 
                            multiple
                            title="Please Enter Section" 
                            class="form-control" 
                            style="width: 100%">
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Course</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectCourse" name="selectCourse" disabled title="Please Enter Course" class="form-control" style="width: 100%">
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Department</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select required id="selectMasterReportDepartment" name="selectMasterReportDepartment" title="Please Enter Department" class="form-control" style="width: 100%">
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Job Grade</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectMasterReportJobGrade" 
                            name="selectMasterReportJobGrade" 
                            class="form-control" style="width: 100%">
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Status</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectMasterReportStatus" 
                            name="selectMasterReportStatus" 
                            class="form-control" style="width: 100%">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select> 
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Training Date</label>
                    </span>
                </div>
                <div class="col-sm-2 col-md-2">
                    <input id="dteTrainingDateFrm" type="datetime" class="form-control" style="width: 100%" />
                </div>
                <div class="col-sm-2 col-md-2">
                    <input id="dteTrainingDateTo" class="form-control" type="datetime" style="width: 100%" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Training Status</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectMasterReportStatus" 
                            name="selectMasterReportStatus" 
                            class="form-control" style="width: 100%">
                        <option value="1">Qualified</option>
                        <option value="0">UnQualified</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 offset-10">
                    <button id="btnExportExcel" class="btn btn-outline-primary waves-effect waves-light" style="width:100%">
                        <img style="width:25px;height:20px" src="~/assets/images/svg/icon-excel-green.svg" />&nbsp;Export
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/app/MasterReport.js"></script>
