@model LDMS.ViewModels.LDMS_M_User
<form id="frmUserEditor">
    <div class="panel-body" style="width:100%;">
        <div class="form-horizontal" style="margin-right: 25px; margin-left: -25px; margin-top: 25px">
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Employee ID</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <input type="text"  
                           title="Please Enter Employee ID"
                           id="txtEmployeeId"  
                           asp-for="EmployeeID"
                           style="width: 100%"
                           class="form-control input-sm" />
                </div>
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Job Grade</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectJobGrade" 
                            name="selectJobGrade" 
                            asp-for="ID_JobGrade"
                            title="Please Enter Job Grade" 
                            class="form-control"
                            style="width: 100%"> 
                    </select>
                </div>

            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Employee Name</label>
                    </span>
                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="text"
                           id="txtEmployeeName"
                           asp-for="Name"
                           title="Please Enter Employee Name"
                           style="width: 100%"
                           placeholder="Employee Name"
                           class="form-control input-sm" />
                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="text"
                       id="txtEmployeeSurName"
                       asp-for="Surname"
                       placeholder="Employee Surname"
                       title="Please Enter Employee Surname"
                       style="width: 100%"
                       class="form-control input-sm" />
                </div>              

                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Job Title</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectJObTitle"
                            name="selectJObTitle"
                            asp-for="ID_JobTitle"
                            title="Please Enter Job Title"
                            class="form-control"
                            style="width: 100%">
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Gender</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectGender" 
                            name="selectGender"
                            title="Please Enter Gender"
                            asp-for="Gender"
                            class="form-control" style="width: 100%">
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                    </select>
                </div> 
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Center</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectCenter" 
                            name="selectCenter"  
                            asp-for="ID_Center"
                            title="Please Enter Center"  
                            class="form-control"   
                            style="width: 100%"> 
                    </select>
                </div>
            </div> 
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Nationality</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <input type="text" id="txtNationality" class="form-control input-sm" />
                </div>

                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Division</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectDivision" 
                            name="selectDivision" 
                            title="Please Enter Division" 
                            asp-for="ID_Division"
                            class="form-control"   
                            style="width: 100%"> 
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Email</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <input type="text" 
                            title="Please Enter Email"   
                            style="width: 100%"  
                           id="txtEmail"
                             asp-for="Email"
                           class="form-control input-sm" />
                </div>

                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Department</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectDepartment" 
                            name="selectDepartment" 
                            asp-for="ID_Department"
                            title="Please Enter Department" 
                            class="form-control"   
                            style="width: 100%"> 
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Phone</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <input type="text" id="txtPhone" class="form-control input-sm" />
                </div>

                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Section</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectSection" 
                            name="selectSection" 
                            title="Please Enter Section" 
                            asp-for="LDMS_M_UserRole.ID_Section"
                            class="form-control"   
                            style="width: 100%"> 
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Password</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <input type="password" 
                           id="txtPassword" 
                           asp-for="LDMS_M_UserRole.Password"
                           class="form-control input-sm" />
                </div>

                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Remark</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <textarea   id="txtRemark" rows="5" style="width:100%"></textarea>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-1 col-md-1 offset-10">
                    <button id="btnSaveEmployee" class="btn btn-success waves-effect waves-light" style="width:100%"> Save </button>
                </div>
                <div class="col-sm-1 col-md-1" style="margin-left:-25px">
                    <button id="btnBack" class="btn btn-danger inactive waves-effect waves-light" style="width:90%">Back</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="panel-heading" style="width:100%;margin-top:25px;margin-left:25px;">Role Management</div>
        <div class="panel-body" style="width:100%;margin-top:25px;">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-fixed" id="dtUserRoleList">
                    <thead style="background-color:#1e88e5;color:#ffffff">
                        <tr>
                            <th style="text-align:center;width:100px">#</th>
                            <th style="text-align:center;">Role</th>
                            <th style="text-align:center">Description</th>
                            <th style="text-align:center;width:100px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var std in ViewData["Role"] as IList<LDMS.ViewModels.LDMS_M_Role>)
                        {
                            <tr>
                                <td style="text-align:center">@std.RowIndex</td>
                                <td style="text-align:left">@std.RoleName_EN</td>
                                <td style="text-align:left">@std.RoleDescription</td>
                                <td style="text-align:center;width:100px">
                                    <input type='checkbox' 
                                           name='selectRole_@std.RoleId' 
                                           value='selectRole_@std.RoleId' 
                                           id="selectRole_@std.RoleId" /><label for="selectRole_@std.RoleId"> </label>
                                </td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</form>