@{
    ViewData["Title"] = "Login";
    Layout = null;
}
@model LoginViewModel
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>@ViewData["Title"] - LDMS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/select2/select2.min.css">
    <link href="~/css/Login.css" rel="stylesheet">
    <link href="~/css/LDMS.css" rel="stylesheet">
    <link href="~/css/util.css" rel="stylesheet">
    <link href="~/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="fix-header card-no-border" style="overflow:hidden;background:linear-gradient(bottom, #fff, #00c6fb);">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <b>
                            <img src="~/assets/images/logo-light-icon.png" class="light-logo" alt="homepage" />
                            <img src="~/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </b>
                    </a>
                </div>
                <div class="head-title"><h1>Learning and Development Management System</h1></div>
                <div class="logo-img"><img src="~/assets/images/svg/STT.svg" alt="homepage" /></div>
            </nav>
        </header>
        <div class="page-wrapper">
            <div class="container-login100">
                <div class="wrap-login100 p-t-190 p-b-30" style="overflow:hidden;min-height:850px;">
                    <form class="login100-form validate-form" asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger">@ViewBag.error</div>
                        <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                            <input class="input100" type="text" name="Username" placeholder="Username" asp-for="Username">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                            <input class="input100" type="password" name="Password" placeholder="Password" asp-for="Password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>*@
                        <div class="container-login100-form-btn p-t-10">
                            <button id="btn-frm-login" type="submit" class="login100-form-btn">Login </button>
                        </div>
                        <div class="text-center w-full p-t-25 p-b-230">
                            <a href="#" class="txt1">Forgot Password? </a>
                        </div>
                    </form>
                    <footer class="footer">
                        <span class="text-center">ลิขสิทธิ์ © 2020 SONY TECHNOLOGY (THAILAND) CO., LTD. สงวนลิขสิทธิ์ เงื่อนไขในการใช้งานนโยบายส่วนบุคคล </span>
                    </footer>
                </div> 
            </div>
        </div>
    </div>
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="~/js/sidebarmenu.js"></script>
    <script src="~/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script> 
</body>
<script>

    (function ($) {
        "use strict";
        /*==================================================================
        [ Validate ]*/
        var input = $('.validate-input .input100');
        $('.validate-form').on('submit', function () { 
            var check = true;
            for (var i = 0; i < input.length; i++) {
                if (validate(input[i]) == false) {
                    showValidate(input[i]);
                    check = false;
                }
            }
            return check;
        });
        $('.validate-form .input100').each(function () {
            $(this).focus(function () {
                hideValidate(this);
            });
        });
        function validate(input) {
            if ($(input).val().trim() == '') {
                return false;
            }
        }
        function showValidate(input) {
            var thisAlert = $(input).parent();
            $(thisAlert).addClass('alert-validate');
        }
        function hideValidate(input) {
            var thisAlert = $(input).parent();

            $(thisAlert).removeClass('alert-validate');
        }
    })(jQuery);
</script>
