@{
    ViewData["Title"] = "User Profile";
    ViewData["MainTitle"] = "I-Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="panel panel-primary" style="width:100%">
    <div class="panel-body panel-body-begin">
        <div class="form-horizontal">
            <div class="row form-group" style="padding-top:5px;">
              
            </div>
        </div>
    </div>
</div>