
@{
    ViewData["Title"] = "My Plan and Progress";
    ViewData["MainTitle"] = "My Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default" style="width:100%;">
    <div class="panel-body panel-body-begin">
        <div class="form-horizontal" style="margin-top:15px;width:98%;">
            <div class="row form-group">
                <div class="col-sm-6 offset-5">
                    <span class="pull-right">
                        <input type='radio' name='FixicalYear' checked="checked" value='FY2018' id="FY2018" /><label for="FY2018">FY2018</label>
                        <input type='radio' name='FixicalYear' checked="checked" value='FY2019' id="FY2019" /><label for="FY2019">FY2019</label>
                        <input type='radio' name='Quater' value='Q1' id="Q1" /><label for="Q1">Q1</label>
                        <input type='radio' name='Quater' value='Q2' id="Q2" /><label for="Q2">Q2</label>
                        <input type='radio' name='Quater' value='Q3' id="Q3" /><label for="Q3">Q3</label>
                        <input type='radio' name='Quater' value='Q4' id="Q4" /><label for="Q4">Q4</label>
                    </span>
                </div>
                <div class="col-sm-1">
                    <button id="btnSearchEmployee" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                        <img style="width:25px;height:20px" src="~/assets/images/svg/icon-seach.svg" />
                    </button>
                </div>
            </div> 
        </div>
    </div>
</div> 
<div class="panel panel-primary" style="margin-top:15px;width:100%;">
    <div class="panel-body">
        <div class="form-horizontal" style="margin-top:15px;width:100%;"> 
            <div class="row form-group" style="width:100%;">
                <div class="col-sm-6">
                    <span class="pull-left">Learning Progress</span>
                </div>
                <div class="col-sm-6">
                    <span class="pull-left">By Platform</span>
                </div>
            </div>
            <div class="row form-group" style="width:100%;">
                <div class="col-sm-6">
                    <figure class="highcharts-figure" style="width:100%;">
                        <div id="container"></div>
                    </figure>
                </div>
                <div class="col-sm-6">
                    <figure class="highcharts-figure" style="width:100%;">
                        <div id="container2"></div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="display dataTable" id="dtProgress" style="width:100%;">
            <thead>
                <tr>
                    <th style="text-align:center;width:20%">Platform</th>
                    <th style="text-align:center;width:20%">Course Name</th>
                    <th style="text-align:center;width:20%">Learn Method</th>
                    <th style="text-align:center;width:20%">Target Date</th>
                    <th style="text-align:center;width:10%">Remain Day</th>
                    <th style="text-align:center;width:10%">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-warning waves-effect waves-light" style="width:100%">
                            On Progress
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                            Not Start
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-danger waves-effect waves-light" style="width:100%">
                            Over Due
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button class="btn btn-outline-success waves-effect waves-light" style="width:100%">
                            Completed
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-warning waves-effect waves-light" style="width:100%">
                            On Progress
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                            Not Start
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-danger waves-effect waves-light" style="width:100%">
                            Over Due
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button class="btn btn-outline-success waves-effect waves-light" style="width:100%">
                            Completed
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-warning waves-effect waves-light" style="width:100%">
                            On Progress
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                            Not Start
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-danger waves-effect waves-light" style="width:100%">
                            Over Due
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button class="btn btn-outline-success waves-effect waves-light" style="width:100%">
                            Completed
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-warning waves-effect waves-light" style="width:100%">
                            On Progress
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                            Not Start
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-danger waves-effect waves-light" style="width:100%">
                            Over Due
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button class="btn btn-outline-success waves-effect waves-light" style="width:100%">
                            Completed
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-warning waves-effect waves-light" style="width:100%">
                            On Progress
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                            Not Start
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button id="btnSearchEmployee" class="btn btn-outline-danger waves-effect waves-light" style="width:100%">
                            Over Due
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Legal and Compliance</td>
                    <td>Safety office for supervisor</td>
                    <td>Class room</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">N/A</td>
                    <td style="text-align:center;">
                        <button class="btn btn-outline-success waves-effect waves-light" style="width:100%">
                            Completed
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
<script src="~/assets/app/PlanAndProgress.js"></script>
<style>
    .highcharts-figure, .highcharts-data-table table {
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }
</style>
