Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.SCC
*.BACKUP*
*.REMOTE*
*.BASE
*.orig
*.LOCAL
*.dat
/*.testsettings
/*.vsmdi
/*.testsettings
Index.dat
Storage.dat
bin/
obj/

#ignore thumbnails created by windows
#Ignore files build by Visual Studio

*.dbmdl
*.publishproj
*.pubxml
*/[Bb]in/*.dll
*/[Bb]in/*.dll.config
*/[Bb]in/*.xml
*/[Bb]in/[Oo]utput/
/*.vs
QA*/
*/images/*
/packages/*
uploads/
/.vs/LDMS/v16/.suo
/LDMS.Core/obj/Debug/netcoreapp3.1/LDMS.Core.assets.cache
/LDMS.Core/obj/Debug/netcoreapp3.1/LDMS.Core.csprojAssemblyReference.cache
/LDMS.Core/obj/LDMS.Core.csproj.nuget.dgspec.json
/LDMS.Core/obj/LDMS.Core.csproj.nuget.g.props
/LDMS.Core/obj/project.assets.json
/LDMS.Core/obj/project.nuget.cache
/LDMS.Daos/obj/Debug/netcoreapp3.1/LDMS.Daos.assets.cache
/LDMS.Daos/obj/LDMS.Daos.csproj.nuget.dgspec.json
/LDMS.Daos/obj/LDMS.Daos.csproj.nuget.g.props
/LDMS.Daos/obj/project.assets.json
/LDMS.Daos/obj/project.nuget.cache
/LDMS.Domain/obj/Debug/netcoreapp3.1/LDMS.Domain.assets.cache
/LDMS.Domain/obj/Debug/netcoreapp3.1/LDMS.Domain.csprojAssemblyReference.cache
/LDMS.Domain/obj/LDMS.Domain.csproj.nuget.dgspec.json
/LDMS.Domain/obj/LDMS.Domain.csproj.nuget.g.props
/LDMS.Domain/obj/project.assets.json
/LDMS.Domain/obj/project.nuget.cache
/LDMS.MockUp/obj/Debug/netcoreapp3.1/LDMS.MockUp.assets.cache
/LDMS.MockUp/obj/Debug/netcoreapp3.1/LDMS.MockUp.csprojAssemblyReference.cache
/LDMS.MockUp/obj/LDMS.MockUp.csproj.nuget.dgspec.json
/LDMS.MockUp/obj/LDMS.MockUp.csproj.nuget.g.props
/LDMS.MockUp/obj/project.assets.json
/LDMS.MockUp/obj/project.nuget.cache
/LDMS.ViewModels/obj/Debug/netcoreapp3.1/LDMS.ViewModels.assets.cache
/LDMS.ViewModels/obj/Debug/netcoreapp3.1/LDMS.ViewModels.csprojAssemblyReference.cache
/LDMS.ViewModels/obj/LDMS.ViewModels.csproj.nuget.dgspec.json
/LDMS.ViewModels/obj/LDMS.ViewModels.csproj.nuget.g.props
/LDMS.ViewModels/obj/project.assets.json
/LDMS.ViewModels/obj/project.nuget.cache
/LDMS.WEB/obj/Debug/netcoreapp3.1/LDMS.WEB.assets.cache
/LDMS.WEB/obj/Debug/netcoreapp3.1/LDMS.WEB.csprojAssemblyReference.cache
/LDMS.WEB/obj/LDMS.WEB.csproj.nuget.dgspec.json
/LDMS.WEB/obj/LDMS.WEB.csproj.nuget.g.props
/LDMS.WEB/obj/project.assets.json
/LDMS.WEB/obj/project.nuget.cache
/.vs/LDMS/v16/.suo
/LDMS.Core/obj/Debug/netcoreapp3.1/LDMS.Core.assets.cache
/LDMS.Core/obj/Debug/netcoreapp3.1/LDMS.Core.csprojAssemblyReference.cache
/LDMS.Core/obj/LDMS.Core.csproj.nuget.dgspec.json
/LDMS.Core/obj/LDMS.Core.csproj.nuget.g.props
/LDMS.Core/obj/project.assets.json
/LDMS.Core/obj/project.nuget.cache
/LDMS.Daos/obj/Debug/netcoreapp3.1/LDMS.Daos.assets.cache
/LDMS.Daos/obj/LDMS.Daos.csproj.nuget.dgspec.json
/LDMS.Daos/obj/LDMS.Daos.csproj.nuget.g.props
/LDMS.Daos/obj/project.assets.json
/LDMS.Daos/obj/project.nuget.cache
/LDMS.Domain/obj/Debug/netcoreapp3.1/LDMS.Domain.assets.cache
/LDMS.Domain/obj/Debug/netcoreapp3.1/LDMS.Domain.csprojAssemblyReference.cache
/LDMS.Domain/obj/LDMS.Domain.csproj.nuget.dgspec.json
/LDMS.Domain/obj/LDMS.Domain.csproj.nuget.g.props
/LDMS.Domain/obj/project.assets.json
/LDMS.Domain/obj/project.nuget.cache
/LDMS.MockUp/obj/Debug/netcoreapp3.1/LDMS.MockUp.assets.cache
/LDMS.MockUp/obj/Debug/netcoreapp3.1/LDMS.MockUp.csprojAssemblyReference.cache
/LDMS.MockUp/obj/LDMS.MockUp.csproj.nuget.dgspec.json
/LDMS.MockUp/obj/LDMS.MockUp.csproj.nuget.g.props
/LDMS.MockUp/obj/project.assets.json
/LDMS.MockUp/obj/project.nuget.cache
/LDMS.ViewModels/obj/Debug/netcoreapp3.1/LDMS.ViewModels.assets.cache
/LDMS.ViewModels/obj/Debug/netcoreapp3.1/LDMS.ViewModels.csprojAssemblyReference.cache
/LDMS.ViewModels/obj/LDMS.ViewModels.csproj.nuget.dgspec.json
/LDMS.ViewModels/obj/LDMS.ViewModels.csproj.nuget.g.props
/LDMS.ViewModels/obj/project.assets.json
/LDMS.ViewModels/obj/project.nuget.cache
/LDMS.WEB/obj/Debug/netcoreapp3.1/LDMS.WEB.assets.cache
/LDMS.WEB/obj/Debug/netcoreapp3.1/LDMS.WEB.csprojAssemblyReference.cache
/LDMS.WEB/obj/LDMS.WEB.csproj.nuget.dgspec.json
/LDMS.WEB/obj/LDMS.WEB.csproj.nuget.g.props
/LDMS.WEB/obj/project.assets.json
/LDMS.WEB/obj/project.nuget.cache
