body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1403px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10419 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:82px;
  width:300px;
  height:800px;
  display:flex;
}
#u10419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10420 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:82px;
  width:1000px;
  height:800px;
  display:flex;
}
#u10420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u10421 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:861px;
  width:161px;
  height:12px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u10421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10422 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:509px;
  width:297px;
  height:42px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10422_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10422.mouseOver {
}
#u10422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10423 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:559px;
  width:297px;
  height:42px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10423_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10423.mouseOver {
}
#u10423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10424 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:609px;
  width:297px;
  height:42px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10424_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10424.mouseOver {
}
#u10424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10425 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:659px;
  width:297px;
  height:42px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10425_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10425.mouseOver {
}
#u10425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10426 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:709px;
  width:297px;
  height:42px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10426_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10426.mouseOver {
}
#u10426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10427 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:759px;
  width:297px;
  height:42px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10427_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10427.mouseOver {
}
#u10427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10428 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:809px;
  width:297px;
  height:42px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10428_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10428.mouseOver {
}
#u10428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10429 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:101px;
  width:179px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10429 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10429_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:198px;
}
#u10430 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:146px;
  width:198px;
  height:198px;
  display:flex;
}
#u10430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u10431 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:373px;
  width:231px;
  height:21px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u10431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10431_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u10432 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:406px;
  width:158px;
  height:21px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u10432 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10432_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u10433 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:439px;
  width:180px;
  height:21px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u10433 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10433_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u10434 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:472px;
  width:200px;
  height:21px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u10434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10434_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10435 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:97px;
  width:646px;
  height:32px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10435_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10436 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:146px;
  width:1000px;
  height:41px;
}
#u10436_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10436_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:2px;
}
#u10438 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:40px;
  width:841px;
  height:1px;
  display:flex;
}
#u10438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u10439 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#333333;
}
#u10439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u10440 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:10px;
  width:55px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#0099FF;
  text-align:left;
}
#u10440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10440_img.mouseOver {
}
#u10440.mouseOver {
}
#u10440_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u10441 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:10px;
  width:61px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#0099FF;
  text-align:left;
}
#u10441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10441_img.mouseOver {
}
#u10441.mouseOver {
}
#u10441_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10436_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u10436_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u10443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:117px;
  height:1px;
  display:flex;
}
#u10443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u10444 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#333333;
}
#u10444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u10445 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:10px;
  width:68px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#0099FF;
  text-align:left;
}
#u10445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10445_img.mouseOver {
}
#u10445.mouseOver {
}
#u10445_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u10446 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:10px;
  width:42px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#0099FF;
  text-align:left;
}
#u10446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10446_img.mouseOver {
}
#u10446.mouseOver {
}
#u10446_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:2px;
}
#u10447 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:40px;
  width:725px;
  height:1px;
  display:flex;
}
#u10447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10436_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u10436_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u10449 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#333333;
}
#u10449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:2px;
}
#u10450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:245px;
  height:1px;
  display:flex;
}
#u10450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u10451 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:10px;
  width:42px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#0099FF;
  text-align:left;
}
#u10451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10451_img.mouseOver {
}
#u10451.mouseOver {
}
#u10451_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u10452 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:10px;
  width:44px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#0099FF;
  text-align:left;
}
#u10452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10452_img.mouseOver {
}
#u10452.mouseOver {
}
#u10452_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:2px;
}
#u10453 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:40px;
  width:597px;
  height:1px;
  display:flex;
}
#u10453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u10454 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:186px;
  width:1000px;
  height:1px;
  display:flex;
}
#u10454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-style:normal;
  text-align:center;
}
#u10455 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:94px;
  width:223px;
  height:44px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-style:normal;
  text-align:center;
}
#u10455 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10455_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:43px;
}
#u10456 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:882px;
  width:1307px;
  height:43px;
  display:flex;
}
#u10456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10457 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:858px;
  width:47px;
  height:19px;
  display:flex;
}
#u10457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10457_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u10458 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:311px;
  width:50px;
  height:48px;
  display:flex;
}
#u10458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:598px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.662745098039216);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10459 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:264px;
  width:980px;
  height:598px;
  display:flex;
}
#u10459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u10460 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:234px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u10460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0099FF;
}
#u10461 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:234px;
  width:150px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#0099FF;
}
#u10461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0099FF;
}
#u10462 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:234px;
  width:150px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#0099FF;
}
#u10462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:29px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.333333333333333);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#015478;
}
#u10463 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:196px;
  width:980px;
  height:29px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#015478;
}
#u10463 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u10464 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:282px;
  width:50px;
  height:12px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u10464 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10464_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u10465 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:308px;
  width:68px;
  height:12px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u10465 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10465_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10466 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:364px;
  width:100px;
  height:22px;
  display:flex;
  font-size:12px;
}
#u10466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u10467 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:364px;
  width:100px;
  height:22px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u10467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:2px;
}
#u10468 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:390px;
  width:950px;
  height:1px;
  display:flex;
}
#u10468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(136, 217, 4, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10469 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:395px;
  width:100px;
  height:25px;
  display:flex;
}
#u10469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u10470 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:282px;
  width:86px;
  height:12px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u10470 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10470_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u10471 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:308px;
  width:33px;
  height:12px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u10471 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10471_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0000FF;
}
#u10472 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:282px;
  width:232px;
  height:12px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0000FF;
}
#u10472 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10472_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u10473 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:333px;
  width:47px;
  height:12px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u10473 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10473_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10474_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:20px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10474_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:20px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10474 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:328px;
  width:233px;
  height:20px;
  display:flex;
}
#u10474 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10474_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:20px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10474.disabled {
}
.u10474_input_option {
}
