@model List<LDMS.ViewModels.Menu.NavigationMenu>
@foreach (var item in Model)
{
    <ul id="sidebarnav">
        <li class="nav-small-cap"><h4> @item.MenuName</h4></li> 
        @foreach (var itm in item.SubMenus)
        {
            <li style="padding-left:25px">
                <a class="waves-effect waves-dark"
                   asp-controller="@itm.ControllerName" asp-action="@itm.ActionName" aria-expanded="false">
                    <i class="mdi mdi-gauge"></i><span class="hide-menu">@itm.MenuName</span>
                </a>
            </li> 
        }
    </ul>
 }
