<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\logs\nlog-internal.log">
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <target
      name="console"
      xsi:type="ColoredConsole"
      detectConsoleAvailable="false"
      layout="${date:format=yyyyMMddHHmmss}|${level}|${stacktrace}|${message}"
      errorStream="true" />
    <target
      name="debugger"
      xsi:type="Debugger"
      layout="${date:format=yyyyMMddHHmmss}|${level}|${stacktrace}|${message}" />
    <!-- write logs to file  -->
    <target
      name="file"
      xsi:type="File"
      archiveEvery="Day"
      archiveNumbering="DateAndSequence"
      archiveDateFormat="ddMMyyy"
      archiveAboveSize="104857600"
      maxArchiveFiles="30"
      encoding="utf-8"
      fileName="c:\logs\LDMS-${shortdate}.log"
      enableArchiveFileCompression ="true"
      openFileCacheTimeout ="30"
      layout="${longdate} | ${pad:padding=5:fixedLength=true:inner=${level:uppercase=true}} | ${message}${onexception:inner=${newline}Type: ${exception:format=Type}${newline}Message: ${exception:format=Message}${newline}}" />
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <!--Log Level: Trace, Debug, Info, Warn, Error, Fatal-->
    <logger name="*" minlevel="Debug" writeTo="debugger,console,file" />
  </rules>
</nlog>