/*@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}*/
@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'), url('../fonts/montserrat/Montserrat-Regular.eot') format('eot'), url('../fonts/montserrat/Montserrat-Regular.ttf') format('ttf');
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
body, html {
    height: 100%;
    font-family: Montserrat-Regular, sans-serif;
    overflow: hidden;
    background: #d7dfe3
}
.head-title h1 {
    font-size: 28px !important;
    color: white;
    margin: 0 auto;
    font-weight: 400;
}

.page-wrapper {
    width: 100%;
    background: #d7dfe3;
    height: calc(100%)-150px;
    position: relative;
    margin-top: 150px;
}
/*---------------------------------------------*/
a {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
a:focus {
        outline: none !important;
}
a:hover {
        text-decoration: none;
        color: #f00;
}
/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
p {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}
ul, li {
    margin: 0px;
    list-style-type: none;
}
/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}  
input:focus::-webkit-input-placeholder {
            color: transparent;
        }
input:focus:-moz-placeholder {
            color: transparent;
        }
input:focus::-moz-placeholder {
            color: transparent;
        }
input:focus:-ms-input-placeholder {
            color: transparent;
        } 
input::-webkit-input-placeholder {
    color: #999999;
}
input:-moz-placeholder {
    color: #999999;
}
input::-moz-placeholder {
    color: #999999;
}
input:-ms-input-placeholder {
    color: #999999;
} 
/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Montserrat-Regular;
    font-size: 20px;
    color: #005bea;
    line-height: 1.4;
} 
.bo1 {
    border-bottom: 1px solid #999999;
} 
.hov1:hover {
    border-color: #d33f8d;
}  
/*//////////////////////////////////////////////////////////////////
[ login ]*/
.container-login100 {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background: #fff;
    border-radius: 30px;
}
.container-login100::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
       
        background: -webkit-linear-gradient(bottom, #fff, #00c6fb);
        background: -o-linear-gradient(bottom, #fff, #00c6fb);
        background: -moz-linear-gradient(bottom, #fff, #00c6fb);
        background: linear-gradient(bottom, #fff, #00c6fb);
        opacity: 0.9;
}
.wrap-login100 {
    width: 50%;
    background: transparent; 
}
.login100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 
.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    border: thin;
    border-width: 1px;
    border-color: #333333;
}
.input100 {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.2;
    color: #333333;
    display: block;
    width: 100%;
    background: #fff;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 53px;
    border-color: #333333;
    background-color: #b3ccff;
}
.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(0,91,234, 0.6); 
}
.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards; 
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
} 
/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login100-form-btn {
    font-family: Montserrat-Bold;
    font-size: 25px;
    line-height: 1.5;
    color: #e0e0e0;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border-color: #333333;
    background: #005bea;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}
.login100-form-btn::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        border-color: #333333;
        top: 0;
        left: 0;
        background: #333333;
        background: -webkit-linear-gradient(left, #333333, #00c6fb);
        background: -o-linear-gradient(left, #333333, #00c6fb);
        background: -moz-linear-gradient(left, #333333, #00c6fb);
        background: linear-gradient(left, #333333, #00c6fb);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        opacity: 0;
 }
.login100-form-btn:hover {
        background-color: #333333;
        color: #fff;
}
.login100-form-btn:hover:before {
            opacity: 1;
} 
/*------------------------------------------------------------------
[ Alert validate ]*/ 
.validate-input {
    position: relative;
} 
.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 14px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Montserrat-Bold;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
} 
.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
} 
.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}
.footer {
    bottom: 0;
    color: #67757c;
    left: 0px;
    padding: 17px 15px;
    position: absolute;
    right: 0;
    border-top: 1px solid rgba(120,130,140,0.13);
    background: #ffffff;
    padding-left: calc(25%);
}
