html, body {
    background-image: url("/assets/images/jpg/BG.jpg"), url("/assets/images/jpg/BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}
.topbar {
    position: fixed;
    z-index: 50;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.5);
    width: 100%;
    background: #1F77D0;
    background: -moz-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1F77D0), color-stop(100%, #533ce1));
    background: -webkit-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
    background: -o-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
    background: -ms-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
    background: linear-gradient(to bottom, #1F77D0 0%, #533ce1 100%);
    background-size: 150% 150%;
    height: 75px;
}
.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

    .social_icon span:hover {
        color: white;
        cursor: pointer;
    }

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

    .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

    .login_btn:hover {
        color: black;
        background-color: white;
    }

.links {
    color: white;
}

    .links a {
        margin-left: 4px;
    }

header {
    flex-shrink: 0;
    -ms-flex-negative: 0; 
} 
footer {
    flex-shrink: 0; 
    position: absolute;
    bottom: 0px;
    height: 50px;
    left: 0px;
    right: 0px;
    overflow: no-content;
} 
.navbar-brand {
    width: 25%;
} 
.logo-img {
    width: 25%;
}
.ldms-logo{ 
    width:100%;
    position:sticky
}
.head-title h1 {
    font-size: 28px !important;
    color: white;
    margin: 0 auto;
    font-weight: 400;
} 