body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-73px;
  width:914px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:408px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:125px;
  width:914px;
  height:408px;
  display:flex;
}
#u2505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2506_input {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:195px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u2506_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:195px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u2506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:269px;
  width:850px;
  height:195px;
  display:flex;
}
#u2506 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2506_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:195px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2506.disabled {
}
#u2507_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2507_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:154px;
  width:250px;
  height:25px;
  display:flex;
}
#u2507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2507_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2507.disabled {
}
#u2508_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2508_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:224px;
  width:216px;
  height:25px;
  display:flex;
}
#u2508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2508_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2508.disabled {
}
#u2509_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2509_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:190px;
  width:250px;
  height:25px;
  display:flex;
}
#u2509 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2509_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2509.disabled {
}
.u2509_input_option {
}
#u2510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:156px;
  width:92px;
  height:18px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2510 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2510_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:195px;
  width:84px;
  height:18px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2511 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2511_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:227px;
  width:75px;
  height:18px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2512 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2512_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:227px;
  width:60px;
  height:18px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2513 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2513_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:224px;
  width:26px;
  height:26px;
  display:flex;
}
#u2514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:2px;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:256px;
  width:850px;
  height:1px;
  display:flex;
}
#u2515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:270px;
  width:817px;
  height:195px;
}
#u2517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:0px;
  width:100px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:0px;
  width:180px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:0px;
  width:170px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:0px;
  width:100px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:0px;
  width:80px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:0px;
  width:120px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:0px;
  width:30px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:37px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:25px;
  width:100px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:25px;
  width:180px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:25px;
  width:170px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:25px;
  width:100px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:25px;
  width:80px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:25px;
  width:120px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:25px;
  width:30px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:37px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:50px;
  width:100px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:50px;
  width:180px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:50px;
  width:170px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:50px;
  width:100px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:50px;
  width:80px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:50px;
  width:120px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:50px;
  width:30px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:37px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:75px;
  width:100px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:75px;
  width:180px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:75px;
  width:170px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:75px;
  width:100px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:75px;
  width:80px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:75px;
  width:120px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:75px;
  width:30px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:37px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:100px;
  width:100px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:100px;
  width:180px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:100px;
  width:170px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:100px;
  width:100px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:100px;
  width:80px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:100px;
  width:120px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:100px;
  width:30px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:37px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:125px;
  width:100px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:125px;
  width:180px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u2559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:125px;
  width:170px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u2560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:125px;
  width:100px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u2561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:125px;
  width:80px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u2562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:125px;
  width:120px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u2563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:125px;
  width:30px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u2564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:37px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:145px;
  width:100px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:145px;
  width:180px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:145px;
  width:170px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:145px;
  width:100px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:145px;
  width:80px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:145px;
  width:120px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:145px;
  width:30px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:37px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:170px;
  width:100px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:170px;
  width:180px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:170px;
  width:170px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:170px;
  width:100px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:170px;
  width:80px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:170px;
  width:120px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:170px;
  width:30px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u2580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2581_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2581_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:190px;
  width:216px;
  height:25px;
  display:flex;
}
#u2581 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2581_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2581.disabled {
}
.u2581_input_option {
}
#u2582 label {
  left:0px;
  width:100%;
}
#u2582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:302px;
  width:14px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#333333;
}
#u2582 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2582_img.selected {
}
#u2582.selected {
}
#u2582_img.disabled {
}
#u2582.disabled {
}
#u2582_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2582_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2583 label {
  left:0px;
  width:100%;
}
#u2583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:326px;
  width:14px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#333333;
}
#u2583 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2583_img.selected {
}
#u2583.selected {
}
#u2583_img.disabled {
}
#u2583.disabled {
}
#u2583_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2583_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2584 label {
  left:0px;
  width:100%;
}
#u2584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:351px;
  width:14px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#333333;
}
#u2584 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2584_img.selected {
}
#u2584.selected {
}
#u2584_img.disabled {
}
#u2584.disabled {
}
#u2584_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2584_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:478px;
  width:140px;
  height:30px;
  display:flex;
}
#u2585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:478px;
  width:140px;
  height:30px;
  display:flex;
}
#u2586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:2px;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:293px;
  width:820px;
  height:1px;
  display:flex;
}
#u2587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:154px;
  width:119px;
  height:18px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2588 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2588_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:194px;
  width:54px;
  height:18px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2589 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2589_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2590_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2590_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:154px;
  width:216px;
  height:25px;
  display:flex;
}
#u2590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2590_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2590.disabled {
}
#u2591_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2591_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:223px;
  width:250px;
  height:25px;
  display:flex;
}
#u2591 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2591_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2591.disabled {
}
.u2591_input_option {
}
#u2592 label {
  left:0px;
  width:100%;
}
#u2592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:375px;
  width:14px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#333333;
}
#u2592 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2592_img.selected {
}
#u2592.selected {
}
#u2592_img.disabled {
}
#u2592.disabled {
}
#u2592_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2592_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2593 label {
  left:0px;
  width:100%;
}
#u2593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:399px;
  width:14px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#333333;
}
#u2593 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2593_img.selected {
}
#u2593.selected {
}
#u2593_img.disabled {
}
#u2593.disabled {
}
#u2593_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2593_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2594 label {
  left:0px;
  width:100%;
}
#u2594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:424px;
  width:14px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#333333;
}
#u2594 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2594_img.selected {
}
#u2594.selected {
}
#u2594_img.disabled {
}
#u2594.disabled {
}
#u2594_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2594_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2595 label {
  left:0px;
  width:100%;
}
#u2595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:448px;
  width:14px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#333333;
}
#u2595 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2595_img.selected {
}
#u2595.selected {
}
#u2595_img.disabled {
}
#u2595.disabled {
}
#u2595_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2595_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
