USE [veraplus_ldms]
GO
/****** Object:  UserDefinedTableType [dbo].[EmployeeIdList]    Script Date: 4/24/2020 7:58:01 AM ******/
CREATE TYPE [dbo].[EmployeeIdList] AS TABLE(
	[EmployeeId] [nvarchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[IDList]    Script Date: 4/24/2020 7:58:01 AM ******/
CREATE TYPE [dbo].[IDList] AS TABLE(
	[ID] [int] NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[genClassID]    Script Date: 4/24/2020 7:58:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[genClassID]
(
    @paramCourseID varchar(50)
	
)
RETURNS varchar(100) -- or whatever length you need
AS
BEGIN
    DECLARE @ClassID as varchar(50);
	Declare @running int;
	select @ClassID = isnull(max([ClassID]), @paramCourseID+ '-' + convert(varchar(4),YEAR(getdate())) + '-' + '00')
	from [dbo].[LDMS_T_Class]
	where [ClassID] like @paramCourseID + '-'  + convert(varchar(4),YEAR(getdate())) + '%'
	set @running =  cast(Substring(@ClassID, len(@ClassID) - 1, 2) as int) + 1;
	set @ClassID = @paramCourseID + '-'  + convert(varchar(4),YEAR(getdate())) + '-' + format(@running, '00')
    RETURN  @ClassID

END
GO
/****** Object:  UserDefinedFunction [dbo].[genCourseID]    Script Date: 4/24/2020 7:58:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[genCourseID]
(
    @paramIDCourseType int
	,@paramDeptID  varchar(10)
)
RETURNS varchar(100) -- or whatever length you need
AS
BEGIN
    Declare @prefix varchar(50);
	Declare @suffix varchar(50);
	Declare @CourseID varchar(50);
	Declare @running int;
    SELECT @prefix = CourseType.PrefixCode, @suffix = case when CourseType.SubPrefixCode is not null then  @paramDeptID else '' end
	from [LDMS_M_CourseType] As CourseType
    where CourseType.ID = @paramIDCourseType
	if (@prefix is null) return 'NO VALID COURSE ID';
	Select @CourseID = isnull(max(CourseID), @prefix + isnull(@suffix, '') + '000')
	from [dbo].[LDMS_M_Course]
	where CourseID like @prefix + isnull(@suffix, '') + '%'

	set @running =  cast(Substring(@CourseID, len(@CourseID) - 2, len(@CourseID)) as int) + 1;
	set @CourseID = @prefix + isnull(@suffix, '') + format(@running, '000');
    RETURN  @CourseID

END
GO
/****** Object:  UserDefinedFunction [dbo].[SplitInts]    Script Date: 4/24/2020 7:58:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitInts]
(
   @List      VARCHAR(MAX),
   @Delimiter VARCHAR(255)
)
RETURNS TABLE
AS
  RETURN ( SELECT Item = CONVERT(INT, Item) FROM
      ( SELECT Item = x.i.value('(./text())[1]', 'varchar(max)')
        FROM ( SELECT [XML] = CONVERT(XML, '<i>'
        + REPLACE(@List, @Delimiter, '</i><i>') + '</i>').query('.')
          ) AS a CROSS APPLY [XML].nodes('i') AS x(i) ) AS y
      WHERE Item IS NOT NULL
  );
GO
/****** Object:  Table [dbo].[LDMS_M_Amphurs]    Script Date: 4/24/2020 7:58:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Amphurs](
	[AMPHUR_ID] [int] NOT NULL,
	[AMPHUR_CODE] [varchar](4) NOT NULL,
	[AMPHUR_NAME] [varchar](150) NOT NULL,
	[AMPHUR_NAME_ENG] [varchar](150) NOT NULL,
	[GEO_ID] [int] NOT NULL,
	[PROVINCE_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AMPHUR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_ApproveFlow]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_ApproveFlow](
	[ApproveFlowID] [int] NULL,
	[ID_JobGrageRequest] [int] NULL,
	[ID_JobGradeApprove] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Center]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Center](
	[ID] [int] NOT NULL,
	[CenterID] [nvarchar](50) NULL,
	[ID_Plant] [int] NOT NULL,
	[CenterName_EN] [nvarchar](100) NULL,
	[CenterName_TH] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_Center] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_CodeLookUp]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_CodeLookUp](
	[ID] [int] NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[FieldName] [nvarchar](50) NULL,
	[Code] [nvarchar](50) NOT NULL,
	[StateName] [nvarchar](50) NULL,
	[Sequence] [int] NULL,
	[Description] [nvarchar](100) NULL,
	[IsDefault] [tinyint] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_CodeLookUp] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Course]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Course](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [nvarchar](50) NOT NULL,
	[CourseName] [nvarchar](50) NULL,
	[ID_LearnMethod] [int] NOT NULL,
	[ID_CourseType] [int] NOT NULL,
	[Objective] [nvarchar](200) NULL,
	[Description] [nvarchar](200) NULL,
	[OutLine] [nvarchar](200) NULL,
	[IsRefreshment] [int] NOT NULL,
	[RefreshmentPeriod] [int] NULL,
	[RefreshmentUnit] [nvarchar](10) NULL,
	[TargetEmployeeID] [text] NULL,
	[ID_PlantTarget] [int] NULL,
	[ID_CenterTarget] [int] NULL,
	[ID_DivisionTarget] [int] NULL,
	[ID_DepartmentTarget] [int] NULL,
	[ID_SectionTarget] [int] NULL,
	[JobGradeTargetID] [nvarchar](200) NULL,
	[JobTitleTargetID] [text] NULL,
	[ID_DepartmentCreate] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_Course] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_CourseLearnMethod]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_CourseLearnMethod](
	[ID] [int] NOT NULL,
	[Course_LearnMethodName_EN] [nvarchar](50) NULL,
	[Course_LearnMethodName_TH] [nvarchar](50) NULL,
	[IsInterface] [int] NOT NULL,
	[Url] [nvarchar](200) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_CourseLearnMethod] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_CourseType]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_CourseType](
	[ID] [int] NOT NULL,
	[CourseTypeName_EN] [nvarchar](50) NULL,
	[CourseTypeName_TH] [nvarchar](50) NULL,
	[ID_PlatformType] [int] NULL,
	[PrefixFormat] [nvarchar](50) NOT NULL,
	[PrefixCode] [nvarchar](10) NOT NULL,
	[SubPrefixCode] [nvarchar](10) NULL,
	[RunningLength] [int] NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_CourseType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Department]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Department](
	[ID] [int] NOT NULL,
	[DepartmentID] [nvarchar](50) NULL,
	[ID_Division] [int] NOT NULL,
	[DepartmentName_EN] [nvarchar](50) NULL,
	[DepartmentName_TH] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_Department] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Districts]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Districts](
	[DISTRICT_ID] [int] NOT NULL,
	[DISTRICT_CODE] [varchar](6) NULL,
	[DISTRICT_NAME] [varchar](150) NULL,
	[DISTRICT_NAME_ENG] [varchar](150) NULL,
	[AMPHUR_ID] [int] NULL,
	[PROVINCE_ID] [int] NULL,
	[GEO_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DISTRICT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Division]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Division](
	[ID] [int] NOT NULL,
	[DivisionID] [nvarchar](50) NULL,
	[ID_Center] [int] NOT NULL,
	[DivisionName_EN] [nvarchar](50) NULL,
	[DivisionName_TH] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBY] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_Division] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Instructor]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Instructor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Instructor_ID] [nvarchar](10) NOT NULL,
	[Instructor_Name] [nvarchar](100) NULL,
	[Type] [nvarchar](50) NOT NULL,
	[ID_Employee] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Organization] [nvarchar](250) NULL,
	[Address] [nvarchar](100) NULL,
	[District_Id] [int] NULL,
	[Aumphur_Id] [int] NULL,
	[Provice_Id] [int] NULL,
	[Post_Code] [nvarchar](5) NULL,
	[Path_Image] [nvarchar](200) NULL,
	[Path_Certificate] [nvarchar](200) NULL,
	[Education_Level] [nvarchar](500) NULL,
	[Major] [nvarchar](200) NULL,
	[Course_Experience] [nvarchar](500) NULL,
	[Skill_Professional] [nvarchar](500) NULL,
	[Customer_Reference] [nvarchar](500) NULL,
	[Manufacturing_Area] [nvarchar](500) NULL,
	[Create_By] [nvarchar](50) NULL,
	[Create_Date] [datetime] NULL,
	[Update_By] [nvarchar](50) NULL,
	[Update_Date] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_Instructor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_JobGrade]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_JobGrade](
	[ID] [int] NOT NULL,
	[JobGradeID] [nvarchar](50) NULL,
	[JobGradeName_EN] [nvarchar](50) NULL,
	[JobGradeName_TH] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_JobGrade] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_JobTitle]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_JobTitle](
	[ID] [int] NOT NULL,
	[JobTitleID] [nvarchar](50) NULL,
	[JobTitleName_EN] [nvarchar](50) NULL,
	[JobTitleName_TH] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_JobTitle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_LogType]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_LogType](
	[LogTypeId] [int] NOT NULL,
	[LogTypeNameEN] [nvarchar](50) NOT NULL,
	[LogTypeNameTH] [nvarchar](50) NOT NULL,
	[LogTypeDesc] [nvarchar](250) NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_LogType] PRIMARY KEY CLUSTERED 
(
	[LogTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Module]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Module](
	[ID] [int] NOT NULL,
	[ModuleID] [nvarchar](10) NOT NULL,
	[ModuleName_EN] [nvarchar](50) NULL,
	[ModuleName_TH] [nvarchar](50) NULL,
	[Sequence] [int] NULL,
	[Parent] [int] NULL,
	[URL] [nvarchar](100) NULL,
	[Icon] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_Module] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Page]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Page](
	[ID_Page] [int] NOT NULL,
	[PageCode] [nvarchar](10) NOT NULL,
	[ID_SubModule] [int] NULL,
	[PageName_EN] [nvarchar](50) NULL,
	[PageName_TH] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[Sequence] [int] NULL,
	[URL] [nvarchar](100) NULL,
	[Icon] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_Page] PRIMARY KEY CLUSTERED 
(
	[ID_Page] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Plant]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Plant](
	[ID] [int] NOT NULL,
	[PlantID] [nvarchar](10) NULL,
	[PlantName_EN] [nvarchar](50) NULL,
	[PlantName_TH] [nvarchar](50) NULL,
	[PlantDescription] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_Plant] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Platform]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Platform](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlatformID] [nvarchar](50) NULL,
	[PlatformName_EN] [nvarchar](50) NULL,
	[PlatformName_TH] [nvarchar](50) NULL,
	[ID_PlatformType] [int] NULL,
	[PlatformDescription] [nvarchar](100) NULL,
	[ID_Department_Create] [int] NOT NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_Platform] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_PlatformType]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_PlatformType](
	[ID] [int] NOT NULL,
	[PlatformTypeName_EN] [nvarchar](50) NULL,
	[PlatformTypeName_TH] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_PlatformType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Prefix]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Prefix](
	[PrefixID] [int] NULL,
	[PageID] [int] NULL,
	[PrefixKey] [nvarchar](10) NULL,
	[FormatKey] [nvarchar](20) NULL,
	[LenghtKey] [int] NULL,
	[LastestKey] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Provinces]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Provinces](
	[PROVINCE_ID] [int] NOT NULL,
	[PROVINCE_CODE] [varchar](2) NULL,
	[PROVINCE_NAME] [varchar](150) NULL,
	[PROVINCE_NAME_ENG] [varchar](150) NULL,
	[GEO_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PROVINCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Role]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Role](
	[ID] [int] NOT NULL,
	[RoleName_EN] [nvarchar](50) NULL,
	[RoleName_TH] [nvarchar](50) NULL,
	[RoleDescription] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_RolePermission]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_RolePermission](
	[ID] [int] NOT NULL,
	[ID_Role] [int] NOT NULL,
	[ID_SubModule] [int] NOT NULL,
	[PermissionType] [int] NOT NULL,
	[RolePermissionDescription] [nvarchar](250) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_RolePermission] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Section]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Section](
	[ID] [int] NOT NULL,
	[SectionID] [nvarchar](50) NULL,
	[ID_Department] [int] NOT NULL,
	[SectionName_EN] [nvarchar](50) NULL,
	[SectionName_TH] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_Section] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_SubModule]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_SubModule](
	[ID] [int] NOT NULL,
	[SubModuleID] [nvarchar](50) NULL,
	[ID_Module] [int] NOT NULL,
	[SubModuleName_EN] [nvarchar](50) NULL,
	[SubModuleName_TH] [nvarchar](50) NULL,
	[Sequence] [int] NULL,
	[Parent] [int] NULL,
	[URL] [nvarchar](100) NULL,
	[Icon] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [int] NOT NULL,
 CONSTRAINT [PK_LDMS_M_SubModule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_SubPlatform]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_SubPlatform](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Platform] [int] NOT NULL,
	[SubPlatformName_EN] [nvarchar](50) NULL,
	[SubPlatformName_TH] [nvarchar](50) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_SubPlatform] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_SubPlatformCourse]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_SubPlatformCourse](
	[ID_SubPlatform] [int] NOT NULL,
	[ID_Course] [int] NOT NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_User]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_User](
	[EmployeeID] [nvarchar](50) NOT NULL,
	[IsAD] [tinyint] NOT NULL,
	[DriverLicenseID] [nvarchar](20) NULL,
	[IDCardNumber] [nvarchar](20) NULL,
	[Gender] [nvarchar](10) NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Nationality] [nvarchar](50) NULL,
	[ID_JobGrade] [int] NULL,
	[ID_JobTitle] [int] NULL,
	[ID_Plant] [int] NOT NULL,
	[ID_Center] [int] NULL,
	[ID_Division] [int] NULL,
	[ID_Department] [int] NULL,
	[JoinDate] [datetime] NULL,
	[OutDate] [datetime] NULL,
	[DateOfBirth] [datetime] NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[ProfilePath] [nvarchar](250) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_User] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_UserRole]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_UserRole](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[ID_Role] [int] NOT NULL,
	[Password] [nvarchar](1024) NULL,
	[IsInstructor] [int] NOT NULL,
	[IsSectionHead] [int] NOT NULL,
	[ID_Section] [int] NULL,
	[Remark] [nvarchar](200) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
	[PasswordSalt] [nvarchar](1024) NULL,
	[IsForceChangePass] [tinyint] NOT NULL,
	[IsAllowGPP] [tinyint] NULL,
	[Is_FirstLogin] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_UserRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_VenueRoom]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_VenueRoom](
	[ID] [int] NOT NULL,
	[VenueRoomID] [nvarchar](50) NULL,
	[ID_Plant] [int] NOT NULL,
	[RoomName_EN] [nvarchar](50) NULL,
	[RoomName_TH] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_M_VenueRoom] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_M_Zipcodes]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_Zipcodes](
	[ID] [int] NOT NULL,
	[DISTRICT_CODE] [varchar](6) NULL,
	[ZIPCODE] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_AuditLog]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_AuditLog](
	[AuditLogID] [int] NOT NULL,
	[ip_address] [nvarchar](50) NULL,
	[LogDetail] [text] NULL,
	[Datetime] [datetime] NOT NULL,
	[EmployeeID] [int] NULL,
	[LogType] [int] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_T_AuditLog] PRIMARY KEY CLUSTERED 
(
	[AuditLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_Class]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_Class](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [nvarchar](50) NULL,
	[ID_Course] [int] NOT NULL,
	[ID_Instructor] [int] NULL,
	[ClassCapacity] [int] NULL,
	[ClassFee] [decimal](8, 2) NULL,
	[LearnDateStart] [date] NOT NULL,
	[LearnTimeStart] [varchar](10) NULL,
	[LearnDateEnd] [date] NOT NULL,
	[LearnTimeEnd] [varchar](10) NULL,
	[RegisterDateStart] [date] NULL,
	[RegisterDateEnd] [date] NULL,
	[ID_PlantVenue] [int] NULL,
	[ID_VenueRoom] [int] NULL,
	[PlaceAndLocation] [nvarchar](200) NULL,
	[ClassStatus] [int] NOT NULL,
	[IsAttend] [tinyint] NOT NULL,
	[AttendNum] [int] NULL,
	[IsTest] [tinyint] NOT NULL,
	[TestFullScore] [int] NULL,
	[TestPercentage] [int] NULL,
	[IsSkill] [tinyint] NOT NULL,
	[SkillFullScore] [int] NULL,
	[SkillPercentage] [int] NULL,
	[IsCoaching] [tinyint] NOT NULL,
	[IsCertificate] [tinyint] NOT NULL,
	[IsAttachCert] [tinyint] NOT NULL,
	[CertificationRemark] [nvarchar](100) NULL,
	[ReminderDurationDay] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_T_Class] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_ClassAttendAndResult]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_ClassAttendAndResult](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Class] [int] NOT NULL,
	[ID_Course] [int] NOT NULL,
	[ID_Employee] [int] NOT NULL,
	[ClassState] [int] NOT NULL,
	[LearningResult] [int] NULL,
	[AttendCountNum] [tinyint] NULL,
	[AttendTimeStamp] [timestamp] NOT NULL,
	[IsScanRFID] [tinyint] NULL,
	[PreTestScore] [int] NULL,
	[PostTestScore] [int] NULL,
	[SkillScore] [int] NULL,
	[CoachingStatus] [tinyint] NULL,
	[CertificateStatus] [tinyint] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_LDMS_T_ClassAttendAndResult] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_ClassCertificate]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_ClassCertificate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Class] [int] NOT NULL,
	[ID_Course] [int] NOT NULL,
	[ID_Employee] [int] NOT NULL,
	[Certificate_Path] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_LDMS_T_ClassCertificate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_ClassRegistration]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_ClassRegistration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Class] [int] NOT NULL,
	[ID_Course] [int] NOT NULL,
	[ID_Employee] [int] NOT NULL,
	[RegisterStatus] [int] NOT NULL,
	[RemarkManager] [nvarchar](50) NULL,
	[RegisterDate] [datetime] NOT NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[RemarkAdmin] [nvarchar](50) NULL,
 CONSTRAINT [PK_LDMS_T_ClassRegistration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_Coaching]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_Coaching](
	[ID] [int] NOT NULL,
	[ID_Class] [int] NOT NULL,
	[ID_Course] [int] NULL,
	[ID_Employee] [int] NOT NULL,
	[CoachingStatus] [tinyint] NOT NULL,
	[Topic] [text] NULL,
	[AssignDate] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_LDMS_T_Coaching] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_CoachingReviewDetail]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_CoachingReviewDetail](
	[ID] [int] NOT NULL,
	[ID_CoachingReviewHead] [int] NOT NULL,
	[PostDetail] [text] NOT NULL,
	[AttachFilePath] [nvarchar](100) NULL,
	[PostDate] [datetime] NOT NULL,
	[ID_PostByEmployee] [int] NOT NULL,
 CONSTRAINT [PK_LDMS_T_CoachingReviewDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_CoachingReviewHead]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_CoachingReviewHead](
	[ID] [int] NOT NULL,
	[ID_Coaching] [int] NOT NULL,
	[EmployeeReport] [text] NOT NULL,
	[AttachFilePath] [nvarchar](100) NULL,
	[PostDate] [datetime] NOT NULL,
	[ID_PostByEmployee] [int] NOT NULL,
 CONSTRAINT [PK_LDMS_T_CoachingReviewHead] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_CompetenceAnalytic]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_CompetenceAnalytic](
	[ID] [int] NOT NULL,
	[ID_EmployeeManager] [int] NOT NULL,
	[CompetenceAnalyticName] [nvarchar](100) NOT NULL,
	[Criteria1] [nvarchar](100) NULL,
	[Criteria2] [nvarchar](100) NULL,
	[Criteria3] [nvarchar](100) NULL,
	[Criteria4] [nvarchar](100) NULL,
	[Criteria5] [nvarchar](100) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[ID_Department] [int] NULL,
	[ID_JobGrade] [int] NULL,
 CONSTRAINT [PK_LDMS_T_CompetenceAnalytic] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_CompetenceAnalytic_Employee]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_CompetenceAnalytic_Employee](
	[ID] [int] NOT NULL,
	[ID_CompetenceAnalytic] [int] NOT NULL,
	[ID_Employee] [int] NOT NULL,
	[EmployeeName] [nvarchar](50) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LDMS_T_CompetenceAnalytic_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_CompetenceAnalytic_KnwldTopic]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_CompetenceAnalytic_KnwldTopic](
	[ID] [int] NOT NULL,
	[ID_CompetenceAnalytic] [int] NOT NULL,
	[ID_Course] [int] NULL,
	[KnowledgeTopicName] [nvarchar](100) NOT NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LDMS_T_CompetenceAnalytic_KnwldTopicr] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_CompetenceAnalytic_Score]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_CompetenceAnalytic_Score](
	[ID] [int] NOT NULL,
	[ID_CompetenceAnalytic] [int] NOT NULL,
	[ID_CompetenceKnowledgeTopic] [int] NOT NULL,
	[ID_CompetenceEmployee] [int] NOT NULL,
	[Score] [int] NULL,
	[ScoreRange] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LDMS_T_CompetenceAnalytic_Score] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_CompetenceStar]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_CompetenceStar](
	[ID] [int] NOT NULL,
	[ID_Employee] [int] NOT NULL,
	[ID_Manager] [int] NOT NULL,
	[CompetenceStarTypeID] [nvarchar](50) NOT NULL,
	[IsStarActive] [int] NOT NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_LDMS_T_CompetenceStar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_CourseEmployee]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_CourseEmployee](
	[ID_Course] [int] NOT NULL,
	[EmployeeID] [nvarchar](50) NOT NULL,
	[CreateDateTime] [datetime] NULL,
 CONSTRAINT [PK_LDMS_T_CourseEmployee] PRIMARY KEY CLUSTERED 
(
	[ID_Course] ASC,
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_CourseJobGrade]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_CourseJobGrade](
	[ID_Course] [nvarchar](50) NOT NULL,
	[ID_JobGrade] [nvarchar](50) NOT NULL,
	[CreateDateTime] [datetime] NULL,
 CONSTRAINT [PK_LDMS_T_CourseJobGrade] PRIMARY KEY CLUSTERED 
(
	[ID_Course] ASC,
	[ID_JobGrade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_CourseJobTitle]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_CourseJobTitle](
	[ID_Course] [nvarchar](50) NOT NULL,
	[ID_JobTitle] [nvarchar](50) NOT NULL,
	[CreateDateTime] [datetime] NULL,
 CONSTRAINT [PK_LDMS_T_CourseJobTitle] PRIMARY KEY CLUSTERED 
(
	[ID_Course] ASC,
	[ID_JobTitle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_DataLog]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_DataLog](
	[LogDateTime] [datetime] NOT NULL,
	[LogTypeId] [int] NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[ip_address] [nvarchar](50) NULL,
	[LogDetail] [text] NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[IsActive] [tinyint] NOT NULL,
 CONSTRAINT [PK_LDMS_T_DataLog] PRIMARY KEY CLUSTERED 
(
	[LogDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_IDP]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_IDP](
	[ID] [int] NOT NULL,
	[ID_Employee] [int] NOT NULL,
	[ID_Manager] [int] NOT NULL,
	[IDP_StartDate] [date] NOT NULL,
	[IDP_EndDate] [date] NOT NULL,
	[IDP_Objective] [text] NOT NULL,
	[IDP_Status] [int] NOT NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[ID_Department] [int] NULL,
 CONSTRAINT [PK_LDMS_T_IDP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_IDP_ReviewDetail]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_IDP_ReviewDetail](
	[ID] [int] NOT NULL,
	[ID_IDP_ReviewHead] [int] NOT NULL,
	[PostDetail] [text] NOT NULL,
	[AttachFilePath] [nvarchar](100) NULL,
	[PostDate] [datetime] NOT NULL,
	[ID_PostByEmployee] [int] NOT NULL,
 CONSTRAINT [PK_LDMS_T_IDP_ReviewDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_IDP_ReviewHead]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_IDP_ReviewHead](
	[ID] [int] NOT NULL,
	[ID_IDP_SubTopic] [int] NOT NULL,
	[EmployeeReport] [text] NOT NULL,
	[AttachFilePath] [nvarchar](100) NULL,
	[PostDate] [datetime] NOT NULL,
	[ID_PostByEmployee] [int] NOT NULL,
	[ReviewStatus] [int] NOT NULL,
 CONSTRAINT [PK_LDMS_T_IDP_ReviewHead] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_IDP_SubTopic]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_IDP_SubTopic](
	[ID] [int] NOT NULL,
	[ID_IDP_Topic] [int] NOT NULL,
	[HowToDevelopment] [nvarchar](100) NOT NULL,
	[ExpectedOutcom] [nvarchar](100) NOT NULL,
	[ByWhen] [date] NOT NULL,
	[SubTopicStatus] [int] NOT NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_LDMS_T_IDP_SubTopic] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LDMS_T_IDP_Topic]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_T_IDP_Topic](
	[ID] [int] NOT NULL,
	[ID_IDP] [int] NOT NULL,
	[DevelopementTopic] [nvarchar](100) NOT NULL,
	[ExpectedOutcom] [nvarchar](100) NOT NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_LDMS_T_IDP_Topic] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[z_tempOrgChart]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_tempOrgChart](
	[ID_plant] [int] NULL,
	[PlantCode] [nvarchar](50) NULL,
	[PlantName] [nvarchar](50) NULL,
	[ID_Center] [int] NULL,
	[CenterCode] [nvarchar](50) NULL,
	[CenterName] [nvarchar](50) NULL,
	[ID_Division] [int] NULL,
	[DivisionCode] [nvarchar](50) NULL,
	[DivisionName] [nvarchar](50) NULL,
	[ID_Department] [int] NULL,
	[DepartmentCode] [nvarchar](50) NULL,
	[DepartmentName] [nvarchar](50) NULL,
	[ID_Section] [int] NULL,
	[SectionCode] [nvarchar](50) NULL,
	[SectionName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[z_tempTable]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_tempTable](
	[ID] [int] NULL,
	[code] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_UserRole]    Script Date: 4/24/2020 7:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_UserRole](
	[ID] [int] NULL,
	[EmployeeID] [nvarchar](255) NULL,
	[ID_Role] [int] NULL,
	[Password] [nvarchar](255) NULL,
	[IsInstructor] [int] NULL,
	[IsSectionHead] [int] NULL,
	[ID_Section] [int] NULL,
	[Remark] [nvarchar](255) NULL,
	[CreateBy] [nvarchar](255) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](255) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [int] NULL,
	[PasswordSalt] [nvarchar](255) NULL,
	[IsForceChangePass] [int] NULL,
	[IsAllowGPP] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LDMS_M_Amphurs] ([AMPHUR_ID], [AMPHUR_CODE], [AMPHUR_NAME], [AMPHUR_NAME_ENG], [GEO_ID], [PROVINCE_ID]) VALUES (1, N'1001', N'เขตพระนคร   ', N'Khet Phra Nakhon', 2, 1)
INSERT [dbo].[LDMS_M_Amphurs] ([AMPHUR_ID], [AMPHUR_CODE], [AMPHUR_NAME], [AMPHUR_NAME_ENG], [GEO_ID], [PROVINCE_ID]) VALUES (2, N'1002', N'เขตดุสิต   ', N'Khet Dusit', 2, 1)
INSERT [dbo].[LDMS_M_Amphurs] ([AMPHUR_ID], [AMPHUR_CODE], [AMPHUR_NAME], [AMPHUR_NAME_ENG], [GEO_ID], [PROVINCE_ID]) VALUES (3, N'1003', N'เขตหนองจอก   ', N'Khet  Nong Chok', 2, 1)
GO
INSERT [dbo].[LDMS_M_Center] ([ID], [CenterID], [ID_Plant], [CenterName_EN], [CenterName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'001', 2, N'Automotive BIZ. Center', N'Automotive BIZ. Center', NULL, N'Admin', CAST(N'2020-04-12T04:47:42.013' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Center] ([ID], [CenterID], [ID_Plant], [CenterName_EN], [CenterName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'002', 2, N'Corp. Human Management Center', N'Corp. Human Management Center', NULL, N'Admin', CAST(N'2020-04-12T04:47:42.013' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Center] ([ID], [CenterID], [ID_Plant], [CenterName_EN], [CenterName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, N'003', 1, N'Corp.Human Management Center', N'Corp.Human Management Center', NULL, N'Admin', CAST(N'2020-04-12T04:47:42.013' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_CodeLookUp] ([ID], [TableName], [FieldName], [Code], [StateName], [Sequence], [Description], [IsDefault], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'LDMS_M_Instructor', N'Type', N'INT', N'Internal', NULL, N'Internal instructor', NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[LDMS_M_CodeLookUp] ([ID], [TableName], [FieldName], [Code], [StateName], [Sequence], [Description], [IsDefault], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'LDMS_M_Instructor', N'Type', N'EXT', N'External', NULL, N'External instructor', NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[LDMS_M_CodeLookUp] ([ID], [TableName], [FieldName], [Code], [StateName], [Sequence], [Description], [IsDefault], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, N'LDMS_T_Class', N'ClassStatus', N'00', N'Plan', 1, N'Class ยังไม่กำหนด RegisterDate', NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[LDMS_M_Course] ON 

SET IDENTITY_INSERT [dbo].[LDMS_M_Course] OFF
INSERT [dbo].[LDMS_M_CourseLearnMethod] ([ID], [Course_LearnMethodName_EN], [Course_LearnMethodName_TH], [IsInterface], [Url], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'Class Room', NULL, 0, NULL, NULL, N'Admin', CAST(N'2020-04-05T01:33:44.840' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_CourseLearnMethod] ([ID], [Course_LearnMethodName_EN], [Course_LearnMethodName_TH], [IsInterface], [Url], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'Public Training', NULL, 0, NULL, NULL, N'Admin', CAST(N'2020-04-05T01:33:44.840' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_CourseLearnMethod] ([ID], [Course_LearnMethodName_EN], [Course_LearnMethodName_TH], [IsInterface], [Url], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, N'PACD', NULL, 1, NULL, NULL, N'Admin', CAST(N'2020-04-05T01:33:44.840' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_CourseType] ([ID], [CourseTypeName_EN], [CourseTypeName_TH], [ID_PlatformType], [PrefixFormat], [PrefixCode], [SubPrefixCode], [RunningLength], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'Orientaton ', NULL, 2, N'PrefixCode-Running', N'ORT', NULL, 3, NULL, N'Admin', CAST(N'2020-04-05T01:55:34.267' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_CourseType] ([ID], [CourseTypeName_EN], [CourseTypeName_TH], [ID_PlatformType], [PrefixFormat], [PrefixCode], [SubPrefixCode], [RunningLength], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'Soft Skill', NULL, 2, N'PrefixCode-Running', N'SOFT', NULL, 3, NULL, N'Admin', CAST(N'2020-04-05T01:55:34.267' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_CourseType] ([ID], [CourseTypeName_EN], [CourseTypeName_TH], [ID_PlatformType], [PrefixFormat], [PrefixCode], [SubPrefixCode], [RunningLength], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, N'Fundamental', NULL, 2, N'PrefixCode-Running', N'FUND', NULL, 3, NULL, N'Admin', CAST(N'2020-04-05T01:55:34.267' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Department] ([ID], [DepartmentID], [ID_Division], [DepartmentName_EN], [DepartmentName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'001', 1, N'AC ENGINEERING ', N'AC ENGINEERING ', NULL, N'Admin', CAST(N'2020-04-12T06:19:00.557' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Department] ([ID], [DepartmentID], [ID_Division], [DepartmentName_EN], [DepartmentName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'002', 15, N'AC LENS PRODUCTION', N'AC LENS PRODUCTION', NULL, N'Admin', CAST(N'2020-04-12T06:19:00.557' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Department] ([ID], [DepartmentID], [ID_Division], [DepartmentName_EN], [DepartmentName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, N'003', 35, N'AC PRODUCT ASSURANCE ', N'AC PRODUCT ASSURANCE ', NULL, N'Admin', CAST(N'2020-04-12T06:19:00.557' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[LDMS_M_Division] ([ID], [DivisionID], [ID_Center], [DivisionName_EN], [DivisionName_TH], [Description], [CreateBy], [CreateDate], [UpdateBY], [UpdateDate], [IsActive]) VALUES (1, N'001', 1, N'ATM PROD', N'ATM PROD', NULL, N'Admin', CAST(N'2020-04-12T05:19:19.887' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Division] ([ID], [DivisionID], [ID_Center], [DivisionName_EN], [DivisionName_TH], [Description], [CreateBy], [CreateDate], [UpdateBY], [UpdateDate], [IsActive]) VALUES (2, N'002', 1, N'Automotive BIZ. Center', N'Automotive BIZ. Center', NULL, N'Admin', CAST(N'2020-04-12T05:19:19.887' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Division] ([ID], [DivisionID], [ID_Center], [DivisionName_EN], [DivisionName_TH], [Description], [CreateBy], [CreateDate], [UpdateBY], [UpdateDate], [IsActive]) VALUES (3, N'003', 1, N'AUTOMOTIVE ENGINEERING', N'AUTOMOTIVE ENGINEERING', NULL, N'Admin', CAST(N'2020-04-12T05:19:19.887' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[LDMS_M_Instructor] ON 

SET IDENTITY_INSERT [dbo].[LDMS_M_Instructor] OFF
INSERT [dbo].[LDMS_M_JobGrade] ([ID], [JobGradeID], [JobGradeName_EN], [JobGradeName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'I2', N'I2', N'I2', NULL, N'Admin', CAST(N'2020-04-12T06:43:35.477' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_JobGrade] ([ID], [JobGradeID], [JobGradeName_EN], [JobGradeName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'I3A', N'I3A', N'I3A', NULL, N'Admin', CAST(N'2020-04-12T06:43:35.477' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_JobGrade] ([ID], [JobGradeID], [JobGradeName_EN], [JobGradeName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, N'I3', N'I3', N'I3', NULL, N'Admin', CAST(N'2020-04-12T06:43:35.477' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_JobTitle] ([ID], [JobTitleID], [JobTitleName_EN], [JobTitleName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'T-LEADI2', N'Leader I2', N'Leader I2', NULL, N'Admin', CAST(N'2020-04-12T06:46:18.933' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_JobTitle] ([ID], [JobTitleID], [JobTitleName_EN], [JobTitleName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'T-LEADNI2', N'Leader_N I2', N'Leader_N I2', NULL, N'Admin', CAST(N'2020-04-12T06:46:18.933' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_JobTitle] ([ID], [JobTitleID], [JobTitleName_EN], [JobTitleName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, N'T-ACCI3', N'Accountant I3', N'Accountant I3', NULL, N'Admin', CAST(N'2020-04-12T06:46:18.933' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_LogType] ([LogTypeId], [LogTypeNameEN], [LogTypeNameTH], [LogTypeDesc], [IsActive]) VALUES (1, N'Login Success', N'Login Success', N'', 1)
INSERT [dbo].[LDMS_M_LogType] ([LogTypeId], [LogTypeNameEN], [LogTypeNameTH], [LogTypeDesc], [IsActive]) VALUES (2, N'Login Faild', N'Login Faild', N'', 1)
INSERT [dbo].[LDMS_M_LogType] ([LogTypeId], [LogTypeNameEN], [LogTypeNameTH], [LogTypeDesc], [IsActive]) VALUES (3, N'Change Password', N'Change Password', N'', 1)
INSERT [dbo].[LDMS_M_Module] ([ID], [ModuleID], [ModuleName_EN], [ModuleName_TH], [Sequence], [Parent], [URL], [Icon], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'MD01', N'My Plan', NULL, 1, NULL, NULL, NULL, N'สำหรับพนักงานเรียกดูข้อมูลของตนเอง', N'Admin', CAST(N'2020-04-05T01:26:18.940' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Module] ([ID], [ModuleID], [ModuleName_EN], [ModuleName_TH], [Sequence], [Parent], [URL], [Icon], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'MD02', N'My Team', N'My Monitoring', 2, NULL, NULL, NULL, N'สำหรับหัวหน้างาน Manager', N'Admin', CAST(N'2020-04-05T01:26:18.940' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Module] ([ID], [ModuleID], [ModuleName_EN], [ModuleName_TH], [Sequence], [Parent], [URL], [Icon], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, N'MD03', N'I-Manage', NULL, 3, NULL, NULL, NULL, N'สำหรับ Admin จัดการข้อมูลพื้นฐานและคอร์สเรียน', N'Admin', CAST(N'2020-04-05T01:26:18.940' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Plant] ([ID], [PlantID], [PlantName_EN], [PlantName_TH], [PlantDescription], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'STTB', N'BangPa-in Plant', N'บางปะอิน', NULL, N'Admin', CAST(N'2020-04-12T03:42:28.380' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Plant] ([ID], [PlantID], [PlantName_EN], [PlantName_TH], [PlantDescription], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'STTC', N'Chonburi Plant', N'ชลบุรี', NULL, N'Admin', CAST(N'2020-04-12T03:42:28.380' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[LDMS_M_Platform] ON 

INSERT [dbo].[LDMS_M_Platform] ([ID], [PlatformID], [PlatformName_EN], [PlatformName_TH], [ID_PlatformType], [PlatformDescription], [ID_Department_Create], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'P001', N'Orientation', N'ปฐมนิเทศ', 2, N'การปฐมนิดทศ', 1, N'1', NULL, NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Platform] ([ID], [PlatformID], [PlatformName_EN], [PlatformName_TH], [ID_PlatformType], [PlatformDescription], [ID_Department_Create], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'P002', N'Soft Skill', N'ทักษะทางสังคม', 2, N'กระบวนการทักษะทางสังคม', 1, N'1', NULL, NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Platform] ([ID], [PlatformID], [PlatformName_EN], [PlatformName_TH], [ID_PlatformType], [PlatformDescription], [ID_Department_Create], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, N'P003', N'Fundamental ', N'พื้นฐาน', 2, N'พื้นฐาน', 1, N'1', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[LDMS_M_Platform] OFF
INSERT [dbo].[LDMS_M_PlatformType] ([ID], [PlatformTypeName_EN], [PlatformTypeName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'Business', NULL, N'Platform เฉพาะของแต่ละ deparment', N'Admin', CAST(N'2020-04-05T01:42:48.567' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_PlatformType] ([ID], [PlatformTypeName_EN], [PlatformTypeName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'HR-Common', NULL, N'Common Platform จัดการโดย HR', N'Admin', CAST(N'2020-04-05T01:42:48.567' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Role] ([ID], [RoleName_EN], [RoleName_TH], [RoleDescription], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'User', NULL, N'พนักงานทั่วไปเรียกดูข้อมูลของตนเอง', N'Admin', CAST(N'2020-04-05T03:28:54.390' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Role] ([ID], [RoleName_EN], [RoleName_TH], [RoleDescription], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'User Admin', NULL, N'พนักงานทั่วไปได้รับสิทธิ์ Admin ในการจัดการ Couse ของแผนก', N'Admin', CAST(N'2020-04-05T03:28:54.390' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Role] ([ID], [RoleName_EN], [RoleName_TH], [RoleDescription], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, N'General Manger', NULL, N'ระดับผู้บริหารในการเรียกดูข้อมูลภายใต้การดูแลของตนเอง', N'Admin', CAST(N'2020-04-05T03:28:54.390' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_RolePermission] ([ID], [ID_Role], [ID_SubModule], [PermissionType], [RolePermissionDescription], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, 1, 1, 200, N'0 = view only - User Under department, 100 = view only - User Global, 200 = Edit - User Under deparment , 300 = Edit - User Global', N'Admin', CAST(N'2020-04-05T03:52:41.810' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_RolePermission] ([ID], [ID_Role], [ID_SubModule], [PermissionType], [RolePermissionDescription], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, 1, 2, 200, N'0 = view only - User Under department, 100 = view only - User Global, 200 = Edit - User Under deparment , 300 = Edit - User Global', N'Admin', CAST(N'2020-04-05T03:52:41.810' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_RolePermission] ([ID], [ID_Role], [ID_SubModule], [PermissionType], [RolePermissionDescription], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, 1, 3, 200, N'0 = view only - User Under department, 100 = view only - User Global, 200 = Edit - User Under deparment , 300 = Edit - User Global', N'Admin', CAST(N'2020-04-05T03:52:41.810' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Section] ([ID], [SectionID], [ID_Department], [SectionName_EN], [SectionName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'001', 18, N'MGT BC II', N'MGT BC II', NULL, N'Admin', CAST(N'2020-04-12T06:28:40.483' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Section] ([ID], [SectionID], [ID_Department], [SectionName_EN], [SectionName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'002', 18, N'MFC cost control', N'MFC cost control', NULL, N'Admin', CAST(N'2020-04-12T06:28:40.483' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_Section] ([ID], [SectionID], [ID_Department], [SectionName_EN], [SectionName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, N'003', 25, N'MGT Corp plan. B', N'MGT Corp plan. B', NULL, N'Admin', CAST(N'2020-04-12T06:28:40.483' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[LDMS_M_SubModule] ([ID], [SubModuleID], [ID_Module], [SubModuleName_EN], [SubModuleName_TH], [Sequence], [Parent], [URL], [Icon], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'MD01-01', 1, N'My Plan and Progress', NULL, 1, NULL, NULL, NULL, NULL, N'Admin', CAST(N'2020-04-05T01:26:30.687' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_SubModule] ([ID], [SubModuleID], [ID_Module], [SubModuleName_EN], [SubModuleName_TH], [Sequence], [Parent], [URL], [Icon], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'MD01-02', 1, N'My Class Schedule', NULL, 2, NULL, NULL, NULL, NULL, N'Admin', CAST(N'2020-04-05T01:26:30.687' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_SubModule] ([ID], [SubModuleID], [ID_Module], [SubModuleName_EN], [SubModuleName_TH], [Sequence], [Parent], [URL], [Icon], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, N'MD01-03', 1, N'My IDP', NULL, 3, NULL, NULL, NULL, NULL, N'Admin', CAST(N'2020-04-05T01:26:30.687' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[LDMS_M_SubPlatform] ON 

INSERT [dbo].[LDMS_M_SubPlatform] ([ID], [ID_Platform], [SubPlatformName_EN], [SubPlatformName_TH], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, 1, N'Test Platform [20200416]-xxxxxxxxxxxxx', N'Test Platform [20200416]-xxxxxxxxxxxxx', N'1', NULL, N'1', CAST(N'2020-04-16T19:51:18.937' AS DateTime), 1)
INSERT [dbo].[LDMS_M_SubPlatform] ([ID], [ID_Platform], [SubPlatformName_EN], [SubPlatformName_TH], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, 1, N'Test Platform [20200416]-xxxxxxxxxxxxx', N'Test Platform [20200416]-xxxxxxxxxxxxx', N'1', CAST(N'2020-04-12T09:48:48.657' AS DateTime), N'1', CAST(N'2020-04-16T19:51:18.937' AS DateTime), 1)
INSERT [dbo].[LDMS_M_SubPlatform] ([ID], [ID_Platform], [SubPlatformName_EN], [SubPlatformName_TH], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, 1, N'Test Platform [20200416]-xxxxxxxxxxxxx', N'Test Platform [20200416]-xxxxxxxxxxxxx', N'1', CAST(N'2020-04-12T09:49:54.770' AS DateTime), N'1', CAST(N'2020-04-16T19:51:18.937' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[LDMS_M_SubPlatform] OFF
INSERT [dbo].[LDMS_M_SubPlatformCourse] ([ID_SubPlatform], [ID_Course], [CreateBy], [CreateDate]) VALUES (39, 1, NULL, NULL)
INSERT [dbo].[LDMS_M_SubPlatformCourse] ([ID_SubPlatform], [ID_Course], [CreateBy], [CreateDate]) VALUES (39, 2, NULL, NULL)
INSERT [dbo].[LDMS_M_SubPlatformCourse] ([ID_SubPlatform], [ID_Course], [CreateBy], [CreateDate]) VALUES (39, 3, NULL, NULL)
INSERT [dbo].[LDMS_M_User] ([EmployeeID], [IsAD], [DriverLicenseID], [IDCardNumber], [Gender], [Name], [Surname], [Nationality], [ID_JobGrade], [ID_JobTitle], [ID_Plant], [ID_Center], [ID_Division], [ID_Department], [JoinDate], [OutDate], [DateOfBirth], [PhoneNumber], [Email], [ProfilePath], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (N'5000001144', 1, NULL, NULL, NULL, N'cececece', N'ccccc', NULL, 9, 13, 1, 13, 29, NULL, CAST(N'2020-04-17T15:30:04.990' AS DateTime), NULL, NULL, NULL, NULL, NULL, N'Admin', CAST(N'2020-04-17T15:30:04.990' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_User] ([EmployeeID], [IsAD], [DriverLicenseID], [IDCardNumber], [Gender], [Name], [Surname], [Nationality], [ID_JobGrade], [ID_JobTitle], [ID_Plant], [ID_Center], [ID_Division], [ID_Department], [JoinDate], [OutDate], [DateOfBirth], [PhoneNumber], [Email], [ProfilePath], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (N'5010421485', 0, NULL, NULL, NULL, N'rr55', N'rrrrr', NULL, 15, 37, 2, 16, 35, 91, CAST(N'2020-04-17T15:30:04.990' AS DateTime), NULL, NULL, NULL, NULL, NULL, N'Admin', CAST(N'2020-04-17T15:30:04.990' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[LDMS_M_User] ([EmployeeID], [IsAD], [DriverLicenseID], [IDCardNumber], [Gender], [Name], [Surname], [Nationality], [ID_JobGrade], [ID_JobTitle], [ID_Plant], [ID_Center], [ID_Division], [ID_Department], [JoinDate], [OutDate], [DateOfBirth], [PhoneNumber], [Email], [ProfilePath], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (N'5012032455', 0, NULL, NULL, NULL, N'ww33', N'wwwww', NULL, 15, 37, 2, 15, 31, 88, CAST(N'2020-04-17T15:30:04.990' AS DateTime), NULL, NULL, NULL, NULL, NULL, N'Admin', CAST(N'2020-04-17T15:30:04.990' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[LDMS_M_UserRole] ON 

INSERT [dbo].[LDMS_M_UserRole] ([ID], [EmployeeID], [ID_Role], [Password], [IsInstructor], [IsSectionHead], [ID_Section], [Remark], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive], [PasswordSalt], [IsForceChangePass], [IsAllowGPP], [Is_FirstLogin]) VALUES (1, N'STT00001', 7, N'BY3ziz1R73/IfRP8NYB3APHh/0M=', 0, 1, 119, NULL, NULL, NULL, N'STT00001', CAST(N'2020-04-20T01:55:40.260' AS DateTime), 1, N'e8QvqM9lVIlBWzVimPR7kuAUpqtTvYLG', 0, 1, 0)
INSERT [dbo].[LDMS_M_UserRole] ([ID], [EmployeeID], [ID_Role], [Password], [IsInstructor], [IsSectionHead], [ID_Section], [Remark], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive], [PasswordSalt], [IsForceChangePass], [IsAllowGPP], [Is_FirstLogin]) VALUES (2, N'ST002', 1, N'KxyLNQ5MuWldkbBmeBp8aV5Sp1A=', 0, 0, 119, NULL, NULL, NULL, N'ST002', CAST(N'2020-04-20T00:06:12.883' AS DateTime), 1, N'jnsUCb16TXem1uSoumhQhPYxc+b2t51b', 0, NULL, 0)
INSERT [dbo].[LDMS_M_UserRole] ([ID], [EmployeeID], [ID_Role], [Password], [IsInstructor], [IsSectionHead], [ID_Section], [Remark], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive], [PasswordSalt], [IsForceChangePass], [IsAllowGPP], [Is_FirstLogin]) VALUES (5, N'ST0003', 1, N'rQs8kl/WhNIouVUSK6YvXjzeXKA=', 1, 0, 116, N'sss', N'STT00001', CAST(N'2020-04-11T01:28:15.050' AS DateTime), N'STT00001', CAST(N'2020-04-17T00:39:55.190' AS DateTime), 1, N'H/O9luM+jQyw86vscWcpRA==', 0, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[LDMS_M_UserRole] OFF
INSERT [dbo].[LDMS_M_VenueRoom] ([ID], [VenueRoomID], [ID_Plant], [RoomName_EN], [RoomName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (1, N'1', 1, N'A-001', N'A-001', N'ทดสอบ', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[LDMS_M_VenueRoom] ([ID], [VenueRoomID], [ID_Plant], [RoomName_EN], [RoomName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (2, N'2', 1, N'A-002', N'A-002', N'ทดสอบ 2', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[LDMS_M_VenueRoom] ([ID], [VenueRoomID], [ID_Plant], [RoomName_EN], [RoomName_TH], [Description], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive]) VALUES (3, N'3', 2, N'B-001', N'B-001', N'ทดสอบ 3', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[LDMS_T_Class] ON 

SET IDENTITY_INSERT [dbo].[LDMS_T_Class] OFF
INSERT [dbo].[LDMS_T_CourseEmployee] ([ID_Course], [EmployeeID], [CreateDateTime]) VALUES (21, N'ST002', CAST(N'2020-04-20T02:21:12.000' AS DateTime))
INSERT [dbo].[LDMS_T_CourseEmployee] ([ID_Course], [EmployeeID], [CreateDateTime]) VALUES (21, N'STT00001', CAST(N'2020-04-20T02:21:12.000' AS DateTime))
INSERT [dbo].[LDMS_T_CourseEmployee] ([ID_Course], [EmployeeID], [CreateDateTime]) VALUES (22, N'ET00001', CAST(N'2020-04-20T02:00:34.603' AS DateTime))
INSERT [dbo].[LDMS_T_CourseJobGrade] ([ID_Course], [ID_JobGrade], [CreateDateTime]) VALUES (N'21', N'I2', CAST(N'2020-04-20T02:21:12.000' AS DateTime))
INSERT [dbo].[LDMS_T_CourseJobGrade] ([ID_Course], [ID_JobGrade], [CreateDateTime]) VALUES (N'21', N'I3', CAST(N'2020-04-20T02:21:12.000' AS DateTime))
INSERT [dbo].[LDMS_T_CourseJobGrade] ([ID_Course], [ID_JobGrade], [CreateDateTime]) VALUES (N'21', N'I3A', CAST(N'2020-04-20T02:21:12.000' AS DateTime))
INSERT [dbo].[LDMS_T_CourseJobTitle] ([ID_Course], [ID_JobTitle], [CreateDateTime]) VALUES (N'21', N'T-LEADI2', CAST(N'2020-04-20T02:21:12.000' AS DateTime))
INSERT [dbo].[LDMS_T_CourseJobTitle] ([ID_Course], [ID_JobTitle], [CreateDateTime]) VALUES (N'22', N'T-ACCI3', CAST(N'2020-04-20T02:00:34.603' AS DateTime))
INSERT [dbo].[LDMS_T_CourseJobTitle] ([ID_Course], [ID_JobTitle], [CreateDateTime]) VALUES (N'22', N'T-ACCI3A', CAST(N'2020-04-20T02:00:34.603' AS DateTime))
GO
INSERT [dbo].[LDMS_T_DataLog] ([LogDateTime], [LogTypeId], [EmployeeID], [ip_address], [LogDetail], [CreateBy], [IsActive]) VALUES (CAST(N'2020-04-21T23:21:39.187' AS DateTime), 1, N'STT00001', N'::1', N'user signin.', N'STT00001', 1)
INSERT [dbo].[LDMS_T_DataLog] ([LogDateTime], [LogTypeId], [EmployeeID], [ip_address], [LogDetail], [CreateBy], [IsActive]) VALUES (CAST(N'2020-04-21T23:23:49.443' AS DateTime), 2, N'STT00001', N'::1', N'user signin with Local.', N'STT00001', 1)
INSERT [dbo].[LDMS_T_DataLog] ([LogDateTime], [LogTypeId], [EmployeeID], [ip_address], [LogDetail], [CreateBy], [IsActive]) VALUES (CAST(N'2020-04-21T23:24:02.873' AS DateTime), 1, N'STT00001', N'::1', N'user signin.', N'STT00001', 1)
GO
INSERT [dbo].[z_tempOrgChart] ([ID_plant], [PlantCode], [PlantName], [ID_Center], [CenterCode], [CenterName], [ID_Division], [DivisionCode], [DivisionName], [ID_Department], [DepartmentCode], [DepartmentName], [ID_Section], [SectionCode], [SectionName]) VALUES (1, N'STTB', NULL, 4, N'004', N'Corp.Planning & Control Center', 28, N'028', N'MOBILE PLANNING & CONTROL', 18, N'018', N'BUSINESS CONTROL II ', 1, N'001', N'MGT BC II')
INSERT [dbo].[z_tempOrgChart] ([ID_plant], [PlantCode], [PlantName], [ID_Center], [CenterCode], [CenterName], [ID_Division], [DivisionCode], [DivisionName], [ID_Department], [DepartmentCode], [DepartmentName], [ID_Section], [SectionCode], [SectionName]) VALUES (1, N'STTB', NULL, 4, N'004', N'Corp.Planning & Control Center', 28, N'028', N'MOBILE PLANNING & CONTROL', 18, N'018', N'BUSINESS CONTROL II ', 2, N'002', N'MFC cost control')
INSERT [dbo].[z_tempOrgChart] ([ID_plant], [PlantCode], [PlantName], [ID_Center], [CenterCode], [CenterName], [ID_Division], [DivisionCode], [DivisionName], [ID_Department], [DepartmentCode], [DepartmentName], [ID_Section], [SectionCode], [SectionName]) VALUES (1, N'STTB', NULL, 4, N'004', N'Corp.Planning & Control Center', 8, N'008', N'Corporate Planning & Control Center', 25, N'025', N'CORPORATE PLANNING & CONTROL CENTER ', 3, N'003', N'MGT Corp plan. B')
GO
INSERT [dbo].[z_tempTable] ([ID], [code], [Name], [Status]) VALUES (1, N'001', N'MGT BC II', N'Active')
INSERT [dbo].[z_tempTable] ([ID], [code], [Name], [Status]) VALUES (2, N'002', N'MFC cost control', N'Active')
INSERT [dbo].[z_tempTable] ([ID], [code], [Name], [Status]) VALUES (3, N'003', N'MGT Corp plan. B', N'Active')
GO
INSERT [dbo].[Z_UserRole] ([ID], [EmployeeID], [ID_Role], [Password], [IsInstructor], [IsSectionHead], [ID_Section], [Remark], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive], [PasswordSalt], [IsForceChangePass], [IsAllowGPP]) VALUES (9, N'ST0010010', 1, NULL, 0, 0, NULL, NULL, N'Admin', CAST(N'2020-04-17T15:37:28.980' AS DateTime), NULL, NULL, 1, NULL, 0, 1)
INSERT [dbo].[Z_UserRole] ([ID], [EmployeeID], [ID_Role], [Password], [IsInstructor], [IsSectionHead], [ID_Section], [Remark], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive], [PasswordSalt], [IsForceChangePass], [IsAllowGPP]) VALUES (10, N'5088880885', 3, NULL, 0, 0, NULL, NULL, N'Admin', CAST(N'2020-04-17T15:37:28.980' AS DateTime), NULL, NULL, 1, NULL, 0, 1)
INSERT [dbo].[Z_UserRole] ([ID], [EmployeeID], [ID_Role], [Password], [IsInstructor], [IsSectionHead], [ID_Section], [Remark], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [IsActive], [PasswordSalt], [IsForceChangePass], [IsAllowGPP]) VALUES (11, N'WW5512', 1, NULL, 0, 0, NULL, NULL, N'Admin', CAST(N'2020-04-17T15:37:28.980' AS DateTime), NULL, NULL, 1, NULL, 0, 1)
GO
ALTER TABLE [dbo].[LDMS_T_DataLog] ADD  CONSTRAINT [DF_LDMS_T_DataLog_LogDateTime]  DEFAULT (getdate()) FOR [LogDateTime]
GO
ALTER TABLE [dbo].[LDMS_T_DataLog] ADD  CONSTRAINT [DF_LDMS_T_DataLog_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LDMS_T_DataLog]  WITH CHECK ADD  CONSTRAINT [FK__LDMS_T_DataLog_LogType] FOREIGN KEY([LogTypeId])
REFERENCES [dbo].[LDMS_M_LogType] ([LogTypeId])
GO
ALTER TABLE [dbo].[LDMS_T_DataLog] CHECK CONSTRAINT [FK__LDMS_T_DataLog_LogType]
GO
