<script src="~/assets/app/CompetenceAnalytic/Editor.js"></script>
<div class="panel panel-default" id="pn-Analytic" style="width: 100%; border-width: thin; border-style: solid;">
    <div class="panel-body" style="margin-right: 25px; margin-left: 25px; margin-top: 25px">
        <div class="form-horizontal">
            <div class="row form-group">
                <div class="col-sm-1 col-md-1 offset-10">
                    <button id="btnSaveCompetence" class="btn btn-outline-success waves-effect waves-light" style="width:100%">
                        <img style="width:25px;height:20px" src="~/assets/images/svg/save.svg" />&nbsp;&nbsp;Save
                    </button>
                </div>
                <div class="col-sm-1 col-md-1" style="margin-left:-25px">
                    <button id="btnBack" class="btn btn-outline-danger inactive waves-effect waves-light" style="width:100%">
                        <img style="width:25px;height:20px" src="~/assets/images/svg/icon-l-red.svg" />&nbsp;&nbsp;Back
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-horizontal">
                    <div class="row form-group">
                        <div class="col-sm-10 col-md-10">
                            <span class="pull-left" style="vertical-align:middle">
                                <label class="LabelCaption"><h4>Competence Platform Name<font color="#f60b0b">*</font></h4> </label>
                            </span>
                            <input type="text"
                                   title="Please Enter Employee ID"
                                   id="txtCompetenceName"
                                   style="width: 100%"
                                   class="form-control required" />
                        </div>
                    </div>
                    <br />
                    <div class="row form-group">
                        <div class="col-sm-10 col-md-10">
                            <span class="pull-left" style="vertical-align:middle">
                                <label class="LabelCaption"><h4>Expectatoin Criteria</h4></label>
                            </span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1 col-md-1" style="margin-right:-25px;margin-left:10px;">
                            <button id="btnExpectatoin1" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                                5
                            </button>
                        </div>
                        <div class="col-sm-10 col-md-10">
                            <input type="text"
                                   title="Please Enter Employee ID"
                                   id="txtExpectatoin5"
                                   value="Professional Skilled & Can train the others"
                                   style="width: 100%"
                                   class="form-control required" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1 col-md-1" style="margin-right:-25px;margin-left:10px;">
                            <button id="btnExpectatoin1" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                                4
                            </button>
                        </div>
                        <div class="col-sm-10 col-md-10">
                            <input type="text"
                                   title="Please Enter Employee ID"
                                   id="txtExpectatoin4"
                                   value="Have Knowledge and skillful"
                                   style="width: 100%"
                                   class="form-control required" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1 col-md-1" style="margin-right:-25px;margin-left:10px;">
                            <button id="btnExpectatoin1" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                                3
                            </button>
                        </div>
                        <div class="col-sm-10 col-md-10">
                            <input type="text"
                                   title="Please Enter Employee ID"
                                   id="txtExpectatoin3"
                                   value="Have Knowledge with skilled"
                                   style="width: 100%"
                                   class="form-control required" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1 col-md-1" style="margin-right:-25px;margin-left:10px;">
                            <button id="btnExpectatoin1" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                                2
                            </button>
                        </div>
                        <div class="col-sm-10 col-md-10">
                            <input type="text"
                                   title="Please Enter Employee ID"
                                   id="txtExpectatoin2"
                                   value="Have Knowledge but lack Skill"
                                   style="width: 100%"
                                   class="form-control required" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1 col-md-1" style="margin-right:-25px;margin-left:10px;">
                            <button id="btnExpectatoin1" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                                1
                            </button>
                        </div>
                        <div class="col-sm-10 col-md-10">
                            <input type="text"
                                   title="Please Enter Employee ID"
                                   id="txtExpectatoin1"
                                   value="Limited Knowledge"
                                   style="width: 100%"
                                   class="form-control required" />
                        </div>
                    </div>
                    <br />
                    <div class="row form-group">
                        <div class="col-sm-10 col-md-10">
                            <span class="pull-left" style="vertical-align:middle">
                                <label class="LabelCaption"><h4>Knowledge Topic</h4></label>
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="row form-group">
                        <div class="col-sm-2 col-md-2">
                            <span class="pull-left" style="vertical-align:middle">
                                <label class="LabelCaption">Course</label>
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <select id="selectCourse"
                                    name="selectCourse"
                                    title="Please Enter Course"
                                    class="form-control required"
                                    style="width: 100%">
                            </select>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <button id="btnAddCourseTopic" onclick="AddTopic(this)" class="btn btn-outline-secondary waves-effect waves-light" style="width:60%">
                                <img style="width:35px;height:30px" src="~/assets/images/svg/add-button-circle.svg" />
                            </button>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2 col-md-2">
                            <span class="pull-left" style="vertical-align:middle">
                                <label class="LabelCaption">Special Topic</label>
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <input type="text"
                                   title="Please Enter Employee ID"
                                   id="txtSpecialTopic"
                                   style="width: 100%"
                                   class="form-control required" />
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <button id="btnAddSpecialTopic" onclick="AddTopic(this)" class="btn btn-outline-secondary waves-effect waves-light" style="width:60%">
                                <img style="width:35px;height:30px" src="~/assets/images/svg/add-button-circle.svg" />
                            </button>
                        </div>
                    </div>
                    <br />
                    <div class="row form-group">
                        <div class="col-sm-10 col-md-10">
                            <div class="table-responsive" style="height:500px;">
                                <table class="display dataTable" id="dtTopic">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">#</th>
                                            <th style="text-align:center">Topic</th>
                                            <th style="text-align:center">Special</th>
                                            <th style="text-align:center">Expectatoin</th>
                                            <th style="text-align:center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-horizontal">
                    <div class="row form-group">
                    </div>
                    <br />
                    <div class="row form-group">
                        <div class="col-sm-3 col-md-3">
                            <span class="pull-left" style="vertical-align:middle">
                                <label class="LabelCaption">Target Employee</label>
                            </span>
                        </div>
                    </div>

                    <div class="row form-group" style="padding-top:25px;">
                        <div class="col-sm-2 col-md-2 offset-1">
                            <span class="pull-left" style="vertical-align:middle">
                                <label class="LabelCaption">Level</label>
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <select id="selectLevel"
                                    name="selectLevel"
                                    title="Please Enter Level"
                                    class="form-control required"
                                    style="width: 100%">
                            </select>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <a class="search-target-employee-modal" style="cursor:pointer;" id="btnSearchEmployee" href="#search-target-employee-modal">
                                <img style="width:35px;height:30px;" src="~/assets/images/svg/icon-seach.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="row form-group" style="padding-top:25px;">
                        <div class="col-sm-10 col-md-10">
                            <div class="table-responsive">
                                <table class="display dataTable" id="dtEmployee">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">#</th>
                                            <th style="text-align:center">Employee Id</th>
                                            <th style="text-align:center">Employee Name</th>
                                            <th style="text-align:center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<div id="search-target-employee-modal" class="white-popup-block mfp-hide" style="width:1200px;height:600px;background-color:#ffffff;margin-left:25%;border:thin;">
    <div class="panel panel-primary" style="width:100%;">
        <div class="panel-body panel-body-begin">
            <div class="form-horizontal" style="padding-top:25px;">
                <div class="row form-group" style="margin-right:15px;margin-left:-15px;">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Employee ID</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="text"
                               title="Please Enter Employee ID"
                               id="txtEmployeeID"
                               style="width: 100%"
                               class="form-control" />
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Employee Name</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="text"
                               title="Please Enter Employee Name"
                               id="txtEmployeeName"
                               style="width: 100%"
                               class="form-control" />
                    </div>
                </div>
                <div class="row form-group" style="margin-right:15px;margin-left:-15px;">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Department</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectDepartment" name="selectDepartment" class="form-control" style="width: 100%">
                        </select>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Section</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectSection" name="selectSection" class="form-control" style="width: 100%">
                        </select>
                    </div>
                </div>
                <div class="row form-group" style="margin-right:15px;margin-left:-15px;">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Job Grade</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectJobGrade" name="selectJobGrade" class="form-control" style="width: 100%">
                        </select>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Job Title</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectJobTitle" name="selectJobTitle" class="form-control" style="width: 100%">
                        </select>
                    </div>
                </div>
                <div class="row form-group" style="margin-right:15px;margin-left:-15px;"> 
                    <div class="col-sm-2 col-md-2 offset-10">
                        <button id="btnSearchEmployee" onclick="SearchEmployee();" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-seach.svg" />
                        </button>
                    </div>
                </div>
                <div class="row form-group" style="padding-top:25px;">
                    <div class="col-sm-12 col-md-12" style="padding-left:15px;padding-right:15px;">
                        <table class="display dataTable" id="dtSelectEmployee">
                            <thead style="background-color:#1e88e5;color:#ffffff">
                                <tr>
                                    <th style="text-align:center;width:75px">#</th>
                                    <th style="text-align:center;width:150px">Employee Id</th>
                                    <th style="text-align:center;width:150px">Employee Name</th>
                                    <th style="text-align:center;width:150px">Department</th>
                                    <th style="text-align:center;width:150px">Section</th>
                                    <th style="text-align:center;width:150px">Job Grade</th>
                                    <th style="text-align:center;width:150px">Job Title</th>
                                    <th style="text-align:center;width:75px">Select</th>
                                </tr>
                            </thead>
                            <tbody> </tbody>
                        </table>
                    </div>
                </div>
                <div class="row form-group" style="margin-top:15px;margin-bottom:15px;">
                    <div class="col-sm-2 col-md-2 offset-8">
                        <button id="btnSelectPlatform" onclick="OnSelectEmployee()" class="btn btn-outline-primary waves-effect waves-light" style="width:100%">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/right.svg" />&nbsp;&nbsp;Select
                        </button>
                    </div>
                    <div class="popup-modal-dismiss col-sm-2 col-md-2" style="margin-left:-25px;">
                        <button id="btnBack" class="btn btn-outline-danger inactive waves-effect waves-light" style="width:100%">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-l-red.svg" />&nbsp;&nbsp;Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>