@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assets/app/CompetenceAnalytic.js"></script>
<div class="panel panel-primary" style="margin-top:-15px;width:100%">
    <div class="panel-body panel-body-begin">
        <div id="pnAnalytic" style="width: 100%;display:block">
            <div class="form-horizontal">
                <div class="row form-group" style="padding-top:5px;">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Competence Platform</label>
                        </span>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <select id="selectCompetence"
                                name="selectCompetence"
                                title="Please Enter Competence"
                                class="form-control required"
                                style="width: 100%">
                        </select>
                    </div>
                    <div class="col-sm-2 col-md-2" style="margin-left:-25px">
                        <button id="btnAddCompetence" class="btn btn-outline-success waves-effect waves-light" style="width:90%">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/add-button-circle.svg" /> Add Competence
                        </button>
                    </div>
                    <div class="col-sm-2 col-md-2" style="margin-left:-25px">
                        <button id="btnEditCompetence" class="btn btn-outline-primary waves-effect waves-light" style="width:90%">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-edit-blue.svg" /> Edit Competence
                        </button>
                    </div>
                </div>
            </div>
            <div id="UserListcontent" style="width: 100%;display:none">
                @await Html.PartialAsync("_Analytic")
            </div>
        </div>
        <div id="pnAddnalytic" style="width: 100%;display:none">
            @await Html.PartialAsync("_addCompetenceAnalytic")
        </div>
    </div>
</div>
<div id="search-target-employee-modal" class="white-popup-block mfp-hide" style="width:1200px;height:600px;background-color:#ffffff;margin-left:25%;border:thin;">
    <div class="panel panel-primary" style="width:100%;">
        <div class="panel-body panel-body-begin">
            <div class="form-horizontal" style="padding-top:25px;">
                <div class="row form-group" style="margin-right:15px;margin-left:-15px;">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Employee ID</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="text"
                               title="Please Enter Employee ID"
                               id="txtEmployeeID"
                               style="width: 100%"
                               class="form-control" />
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Employee Name</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="text"
                               title="Please Enter Employee Name"
                               id="txtEmployeeName"
                               style="width: 100%"
                               class="form-control" />
                    </div>
                </div>
                <div class="row form-group" style="margin-right:15px;margin-left:-15px;">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Department</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectDepartment" name="selectDepartment" class="form-control" style="width: 100%">
                        </select>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Section</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectSection" name="selectSection" class="form-control" style="width: 100%">
                        </select>
                    </div>
                </div>
                <div class="row form-group" style="margin-right:15px;margin-left:-15px;">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Job Grade</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectJobGrade" name="selectJobGrade" class="form-control" style="width: 100%">
                        </select>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Job Title</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectJobTitle" name="selectJobTitle" class="form-control" style="width: 100%">
                        </select>
                    </div>
                </div>
                <div class="row form-group" style="margin-right:15px;margin-left:-15px;">
                    @*<div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Level</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectLevel" name="selectLevel" class="form-control" style="width: 100%">
                        </select>
                    </div>*@ 
                    <div class="col-sm-2 col-md-2 offset-10">
                        <button id="btnSearchEmployee" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-seach.svg" />
                        </button>
                    </div>
                </div>
                <div class="row form-group" style="padding-top:25px;">
                    <div class="col-sm-12 col-md-12">
                        <div class="table-responsive" style="height:350px;">
                            <table class="table table-striped table-hover table-fixed" id="dtEmployee">
                                <thead style="background-color:#1e88e5;color:#ffffff">
                                    <tr>
                                        <th style="text-align:left;width:75px">#</th>
                                        <th style="text-align:center;width:150px">Employee Id</th>
                                        <th style="text-align:center;width:150px">Employee Name</th>
                                        <th style="text-align:center;width:150px">Department</th>
                                        <th style="text-align:center;width:150px">Section</th>
                                        <th style="text-align:center;width:150px">Job Grade</th>
                                        <th style="text-align:center;width:150px">Job Title</th>
                                        <th style="text-align:left;width:75px">Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:left;width:75px">#</td>
                                        <td style="text-align:center;width:150px">Employee Id</td>
                                        <td style="text-align:center;width:150px">Employee Name</td>
                                        <td style="text-align:center;width:150px">Department</td>
                                        <td style="text-align:center;width:150px">Section</td>
                                        <td style="text-align:center;width:150px">Job Grade</td>
                                        <td style="text-align:center;width:150px">Job Title</td>
                                        <td style="text-align:left;width:75px">Select</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row form-group" style="margin-top:15px;margin-bottom:15px;">
                    <div class="col-sm-2 col-md-2 offset-8">
                        <button id="btnSelectPlatform" onclick="OnSelectPlatform()" class="btn btn-outline-primary waves-effect waves-light" style="width:100%">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/right.svg" />&nbsp;&nbsp;Select
                        </button>
                    </div>
                    <div class="popup-modal-dismiss col-sm-2 col-md-2" style="margin-left:-25px;">
                        <button id="btnBack" class="btn btn-outline-danger inactive waves-effect waves-light" style="width:100%">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-l-red.svg" />&nbsp;&nbsp;Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div style="width: 100%;">
    <div id="viewAllUser" style="display:block;width:100%">
        <div class="panel panel-default" style="width: 100%;">
            @await Html.PartialAsync("_SearchEmployeeCritiria")
            <div id="UserListcontent">
                @await Html.PartialAsync("_ViewAllUser")
            </div>
        </div>
    </div>
    <div id="UserEditor" style="display:none;width:100%">
        @await Html.PartialAsync("_UserEditor")
    </div>
    <div id="MasterReport" style="display:none;width:100%">
        @await Html.PartialAsync("_MasterReport")
    </div>
</div>*@ 