@{
    ViewData["Title"] = "Welcome to LDMS";
    ViewData["MainTitle"] = "LDMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary" style="margin-top:-15px;width:100%;min-height:800px;">
    <div class="panel-body" style="width:100%;">
        <div class="form-horizontal">
            WELCOME TO Learning and Development Management System
        </div>
    </div>
</div>
