@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@section Header{
    <script src="~/assets/plugins/highchart/highcharts.js"></script>
    <script src="~/assets/plugins/highchart/modules/exporting.js"></script>
    <script src="~/assets/plugins/highchart/modules/export-data.js"></script>
}*@
@section NavHeader{
    <h3 class="text-themecolor m-b-0 m-t-0">Home</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Wellcome to LDMS</a></li>
    </ol>
} 
<div class="panel panel-primary" style="margin-top:-15px;width:100%;min-height:800px;">
    <div class="panel-body" style="width:100%;">
        <div class="form-horizontal">
            WELCOME TO Learning and Development Management System
        </div>
    </div>
</div>
