
@{
    ViewData["Title"] = "Platform";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section NavHeader{
    <h3 class="text-themecolor m-b-0 m-t-0">I-Manage</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">I-Manage</a></li>
        <li class="breadcrumb-item active">I-Manage Platform Management</li>
    </ol>
}

<script src="~/assets/app/PlatformLDMS.js"></script>
<div class="panel panel-primary" style="margin-top:-15px;width:100%;">
    <div id="viewAllplatform" style="display:block;width:100%">
        @await Html.PartialAsync("_SearchPlatformCriteria")
        <div id="PlatformListcontent">
            @await Html.PartialAsync("_ViewAllPlatform")
        </div>
    </div>
    <div id="platformEditor" style="display:none;width:100%;">
        @await Html.PartialAsync("_EditorPlatform")
    </div>
    <div id="subPlatformEditor" style="display:none;width:100%;">
        @await Html.PartialAsync("_EditorSubPlatform")
    </div> 
</div>
@*border-width:thin;border-style:solid;*@