body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-115px;
  width:453px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:246px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6038 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:74px;
  width:453px;
  height:246px;
  display:flex;
}
#u6038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6039 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:280px;
  width:100px;
  height:25px;
  display:flex;
}
#u6039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6040 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:280px;
  width:100px;
  height:25px;
  display:flex;
}
#u6040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6041 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:118px;
  width:276px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6041 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6041_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6042 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:197px;
  width:341px;
  height:23px;
  display:flex;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6042 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6042_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
