/****** Object:  Table [dbo].[LDMS_M_User]    Script Date: 4/27/2020 10:19:26 PM ******/
DROP TABLE [dbo].[LDMS_M_User]
GO
/****** Object:  Table [dbo].[LDMS_M_User]    Script Date: 4/27/2020 10:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LDMS_M_User](
	[ID_User] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[Nationality] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[IsAD] [tinyint] NOT NULL,
	[DriverLicenseID] [nvarchar](20) NULL,
	[IDCardNumber] [nvarchar](20) NULL,
	[ID_JobGrade] [int] NULL,
	[ID_JobTitle] [int] NULL,
	[ID_Plant] [int] NOT NULL,
	[ID_Center] [int] NULL,
	[ID_Division] [int] NULL,
	[ID_Department] [int] NULL,
	[JoinDate] [datetime] NULL,
	[OutDate] [datetime] NULL,
	[DateOfBirth] [datetime] NULL,
	[ProfilePath] [nvarchar](250) NULL,
	[ID_Role] [int] NOT NULL,
	[Password] [nvarchar](1024) NOT NULL,
	[PasswordSalt] [nvarchar](1024) NOT NULL,
	[Remark] [nvarchar](200) NULL,
	[IsInstructor] [tinyint] NOT NULL,
	[IsSectionHead] [tinyint] NOT NULL,
	[ID_Section] [int] NULL,
	[IsForceChangePass] [tinyint] NOT NULL,
	[IsAllowGPP] [tinyint] NOT NULL,
	[Is_FirstLogin] [tinyint] NOT NULL,
	[IsActive] [tinyint] NOT NULL,
	[IsDeleted] [tinyint] NOT NULL,
	[IsLocked] [tinyint] NOT NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_ID_User] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LDMS_M_User] ON 

GO
SET IDENTITY_INSERT [dbo].[LDMS_M_User] OFF
