@media screen and (max-width: 1440px) {
  .wrapper{
            height: 100%;
            width: 100%;
            margin: 0 auto;
            zoom: 85%;
        }
        .wrap-modal-user{
            zoom: 70%;
        }
        .white-popup-block{
            zoom: 90%;
        }
        .head-infoR span {
            font-variant: all-small-caps;
            padding-left: 10px;
            padding-right: 10px;
        }
        .wrap-icon-table-in-progress {
            float: right;
            width: 200px;
            height: 50px ;
            text-align: center; 
            margin-top: -30px;
            padding-left: 30px;
        }
}