.svg-colorize-yellow {
    filter: invert(77%) sepia(42%) saturate(1408%) hue-rotate(339deg) brightness(96%) contrast(99%);
}

.svg-colorize-green {
    filter: invert(74%) sepia(23%) saturate(802%) hue-rotate(40deg) brightness(100%) contrast(91%);
}

.svg-colorize-red {
    filter: invert(11%) sepia(69%) saturate(4252%) hue-rotate(347deg) brightness(103%) contrast(92%);
}

.svg-colorize-red-2 {
    filter: invert(11%) sepia(69%) saturate(4252%) hue-rotate(347deg) brightness(103%) contrast(92%);
}

.svg-colorize-yellow-2 {
    filter: invert(59%) sepia(86%) saturate(433%) hue-rotate(359deg) brightness(102%) contrast(91%);
}

.svg-colorize-blue {
    filter: invert(77%) sepia(72%) saturate(726%) hue-rotate(164deg) brightness(96%) contrast(94%)
}